@use "core" as *;

:host {
  display: block;
}

.uk.select-check-box-drop-down {
  box-shadow:
  0 12px 16px -4px rgba(16, 24, 40, 0.08),
    0 4px 6px -2px rgba(16, 24, 40, 0.03);
  border: 1px solid $color-border-grade-1;
  border-radius: 8px;
  background: $color-background-surface-00;
  padding: 6px;

  > .dropdown {
    min-width: 160px;

    > .search-wrapper {
      margin-bottom: 8px;
    }

    .option {
      display: flex;
      align-items: center;

      &:hover {
        border-radius: 6px;
        background: $color-background-surface-01;
      }

      .check-box-button {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
      }
    }
  }

  > .footer {
    margin-top: 8px;
    border-top: 1px solid $color-border-grade-1;
    padding-top: 8px;
  }
}
