@use 'core' as *;

:host {
    display: block;
    width: 100%;
}

.uk.date-time-picker {
    display: flex;
    gap: 4px;

    uk-button {
        display: block;
        width: 48px;
    }

    uk-input {
    }
}
