@use "core" as *;

:host {
    width: 100%;
    height: 100%;
}

.uk.select {
    &.uk-select {
        &-disabled {
            &-TRUE {
                background-color: $color-content-secondary;
            }
            &-FALSE {
            }
        }
    }
}
