$simple-font-family: 'IRANSansX';
$variable-font-family: 'IRANSansXV';

/* universal styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
}

html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    direction: rtl;

    > body {
        width: 100%;
        height: 100%;
    }
}

html,
body,
button,
textarea,
select,
input {
    font-family: $simple-font-family;
}

@supports (font-variation-settings: normal) {
    html,
    body,
    button,
    input {
        font-family: $variable-font-family;
    }
}
