@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page {
  .feed {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border-grade-2;
    background-color: $color-background-surface-02;
    border-radius: 8px;
    padding: 16px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .header {
      display: flex;

      .avatar {
        margin-left: 8px;
      }

      .info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
      }

      margin-bottom: 8px;
    }

    .content {
      display: flex;
    }

    .footer {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;

      .like,
      .comment {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
