@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page.dashboard-page {
  height: 100%;

  .header {
    > .title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      width: 100%;
    }
    > uk-divider {
      display: block;
      margin-bottom: 24px;
    }
  }
}
