@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page.home-page {
  height: 100%;
}

.box {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 15, 46);
  margin-bottom: 8px;
}