<uk-page [bodyOverFlow]="UK_TYPE.PAGE.BODY_OVER_FLOW.SCROLL">
  <uk-page-body [fullHeight]="true">
    <uk-page-part>
      <uk-scroll
        (LOAD_MORE)="PC.actions.loadMore()"
        (NO_OVERFLOW)="PC.actions.loadMore()"
        [showScrollbar]="UK_TYPE.UK.BOOLEAN.FALSE"
        [appearance]="'auto'"
        [isLoading]="this.PC.props.isLoading"
        [maxHeight]="200"
      >
        @for (item of this.PC.props.list; track item._id) {
          <div>
            <uk-text>
              {{ item.author?.username }}
            </uk-text>
          </div>
        }
      </uk-scroll>
    </uk-page-part>
  </uk-page-body>
</uk-page>
