@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page {
  .feeds {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .feed {
      background-color: $color-background-surface-02;
      border: 1px solid $color-border-grade-2;
      border-radius: 8px;
      padding: 16px;
      margin: 8px 0;

      .header {
        display: flex;

        .avatar {
          margin-left: 8px;
        }

        .info {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
        }

        margin-bottom: 8px;
      }

      .content {
        display: flex;
        margin: 16px 0;
      }

      .footer {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 8px;

        .like,
        .comment {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}
