@use 'core' as *;

:host {
    display: block;
}

.uk.choice-items {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &::ng-deep {
        uk-choice-item {
        }
    }

    &.uk-choice-items {
        &-status {
            &-NORMAL {}
            &-BORDERED {
                &::ng-deep {
                    uk-choice-item {
                        border: solid 1px $color-content-secondary;
                        border-radius: 16px;
                        background-color: $color-opacity-secondary-01;
                        padding: 12px 16px;
                    }
                }
            }
        }
    }
}
