@use "core" as *;

:host {
  display: inline-block;
}

.uk.link {
  color: $color-content-primary;
  @include typography-body-1-strong();
  cursor: pointer;
  height: 100%;
  display: flex;

  &:hover {
    text-decoration: underline;
  }
}
