@use 'core' as *;

$borderRadius: 8px;

:host {
  display: block;
  width: 100%;
}

.uk.hint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $borderRadius;
  padding: 8px;
  width: 100%;
  height: 100%;

  // type
  &.uk-hint-type {
    &-SIMPLE-INFO {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: solid 1px transparent;
      background-color: transparent;
      text-align: center;
    }
    &-GRAY-INFO {
      border: 1px solid $color-content-neutral;
      background-color: $color-background-neutral;
    }
    &-BLUE-INFO {
      border: 1px solid $color-button-primary;
      background-color: $color-background-primary-01;
    }
    &-CAUTION {
      border: 1px solid $color-content-caution;
      background-color: $color-background-caution;
    }
    &-ERROR {
      border: 1px solid $color-content-error;
      background-color: $color-background-error;
    }
  }

  > .title {
    display: flex;
    align-items: center;

    > .icon-wrapper {
      padding: 0 8px;
    }

    > uk-text {
      &::ng-deep {
        .uk.label {
          line-height: 0 !important;
        }
      }
    }
  }

  > .sub-title,
  .action {
    padding-right: 40px;
  }
}
