@font-face {
  font-family: 'app-icon';
  src:  url('fonts/app-icon.eot?kr6v64');
  src:  url('fonts/app-icon.eot?kr6v64#iefix') format('embedded-opentype'),
    url('fonts/app-icon.ttf?kr6v64') format('truetype'),
    url('fonts/app-icon.woff?kr6v64') format('woff'),
    url('fonts/app-icon.svg?kr6v64#app-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye-slash:before {
  content: "\e92c";
}
.icon-eye:before {
  content: "\e92d";
}
.icon-arrow-right-from-bracket:before {
  content: "\e92b";
}
.icon-trash:before {
  content: "\e929";
}
.icon-trash-alt:before {
  content: "\e92a";
}
.icon-image:before {
  content: "\e926";
}
.icon-file:before {
  content: "\e927";
}
.icon-file-alt:before {
  content: "\e928";
}
.icon-chevron-down:before {
  content: "\e91c";
}
.icon-chevron-left:before {
  content: "\e91d";
}
.icon-chevron-right:before {
  content: "\e91e";
}
.icon-chevron-up:before {
  content: "\e91f";
}
.icon-circle-close:before {
  content: "\e920";
}
.icon-warning:before {
  content: "\e921";
}
.icon-close:before {
  content: "\e922";
}
.icon-check:before {
  content: "\e923";
}
.icon-check-circle:before {
  content: "\e924";
}
.icon-info-circle:before {
  content: "\e925";
}
.icon-bell:before {
  content: "\e900";
}
.icon-at:before {
  content: "\e901";
}
.icon-sort-up:before {
  content: "\e902";
}
.icon-sort-desc:before {
  content: "\e903";
}
.icon-phone-square:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e905";
}
.icon-mobile:before {
  content: "\e906";
}
.icon-user-gear:before {
  content: "\e907";
}
.icon-user-friends:before {
  content: "\e908";
}
.icon-user-edit:before {
  content: "\e909";
}
.icon-user-check:before {
  content: "\e90a";
}
.icon-user-circle:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-minus:before {
  content: "\e90d";
}
.icon-minus-circle:before {
  content: "\e90e";
}
.icon-minus-square:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-plus-circle:before {
  content: "\e911";
}
.icon-plus-square:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-search-plus:before {
  content: "\e914";
}
.icon-share:before {
  content: "\e915";
}
.icon-share-square:before {
  content: "\e916";
}
.icon-comment:before {
  content: "\e917";
}
.icon-gear:before {
  content: "\e918";
}
.icon-heart:before {
  content: "\e919";
}
.icon-message:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e91b";
}
