$icomoon-font-family: "app-icon" !default;
$icomoon-font-path: "fonts" !default;

$app-icon-general-image: "\e988";
$app-icon-general-file: "\e986";
$app-icon-general-film: "\e987";
$app-icon-general-security: "\e985";
$app-icon-user-access: "\e982";
$app-icon-register-cartable: "\e983";
$app-icon-financial-cartable: "\e984";
$app-icon-general-loading: "\e97d";
$app-icon-android: "\e97c";
$app-icon-general-academy-play: "\e97f";
$app-icon-general-academy-play-content: "\e980";
$app-icon-general-academy: "\e97e";
$app-icon-general-academy-content: "\e981";
$app-icon-general-debug: "\e977";
$app-icon-finance-financial-report: "\e97b";
$app-icon-general-access: "\e978";
$app-icon-general-refresh: "\e979";
$app-icon-general-view: "\e97a";
$app-icon-general-copy-clipboard: "\e976";
$app-icon-link-chart: "\e959";
$app-icon-link-spinner: "\e96a";
$app-icon-general-shake-hand: "\e96b";
$app-icon-general-cake: "\e96c";
$app-icon-general-redo: "\e96d";
$app-icon-badge-ok: "\e96e";
$app-icon-unlock-after: "\e96f";
$app-icon-lock-pre: "\e970";
$app-icon-lock-progress: "\e971";
$app-icon-lock-after: "\e972";
$app-icon-settings-setting: "\e973";
$app-icon-settings-moon: "\e974";
$app-icon-settings-sun: "\e975";
$app-icon-arrow-down: "\e900";
$app-icon-arrow-left: "\e901";
$app-icon-arrow-right: "\e902";
$app-icon-arrow-up: "\e903";
$app-icon-check-check: "\e904";
$app-icon-check-check-selected: "\e905";
$app-icon-chevron-down: "\e906";
$app-icon-chevron-left: "\e907";
$app-icon-chevron-right: "\e908";
$app-icon-chevron-up: "\e909";
$app-icon-contact-contact: "\e90a";
$app-icon-contact-contact-selected: "\e90b";
$app-icon-customer-add-user: "\e90c";
$app-icon-customer-all: "\e90d";
$app-icon-customer-contacts: "\e90e";
$app-icon-customer-edit-profile: "\e90f";
$app-icon-customer-group: "\e910";
$app-icon-customer-user: "\e911";
$app-icon-customer-user-delete: "\e912";
$app-icon-date-calendar: "\e913";
$app-icon-date-clock: "\e914";
$app-icon-download-download: "\e915";
$app-icon-download-upload: "\e916";
$app-icon-edit-edit: "\e917";
$app-icon-edit-edit-outline: "\e918";
$app-icon-emoji-happy: "\e919";
$app-icon-emoji-laugh: "\e91a";
$app-icon-emoji-mad: "\e91b";
$app-icon-emoji-poker: "\e91c";
$app-icon-emoji-sad: "\e91d";
$app-icon-finance-bank-card: "\e91e";
$app-icon-finance-gift: "\e91f";
$app-icon-finance-gift-card: "\e920";
$app-icon-finance-love-card: "\e921";
$app-icon-finance-money: "\e922";
$app-icon-finance-terminal: "\e923";
$app-icon-finance-wallet: "\e924";
$app-icon-general-call-center: "\e925";
$app-icon-general-copy: "\e926";
$app-icon-general-delete: "\e927";
$app-icon-general-empty-state: "\e928";
$app-icon-general-exit: "\e929";
$app-icon-general-filter: "\e92a";
$app-icon-general-more: "\e92b";
$app-icon-general-notification: "\e92c";
$app-icon-general-retry: "\e92d";
$app-icon-general-search: "\e92e";
$app-icon-general-search-filter: "\e92f";
$app-icon-general-setting: "\e930";
$app-icon-general-share: "\e931";
$app-icon-home-home: "\e932";
$app-icon-home-home-selected: "\e933";
$app-icon-info-info: "\e934";
$app-icon-info-info-outline: "\e935";
$app-icon-link-blog: "\e936";
$app-icon-link-catalog: "\e937";
$app-icon-link-customer-info: "\e938";
$app-icon-link-link-outline: "\e939";
$app-icon-link-menu: "\e93a";
$app-icon-links-link: "\e93b";
$app-icon-link-link: "\e93c";
$app-icon-link-visit-card: "\e93d";
$app-icon-link-web: "\e93e";
$app-icon-marketing-marketing: "\e93f";
$app-icon-marketing-marketing-selected: "\e940";
$app-icon-math-check: "\e941";
$app-icon-math-check-outline: "\e942";
$app-icon-math-close: "\e943";
$app-icon-math-close-outline: "\e944";
$app-icon-math-minus: "\e945";
$app-icon-math-minus-outline: "\e946";
$app-icon-math-plus: "\e947";
$app-icon-math-plus-outline: "\e948";
$app-icon-msg-close: "\e949";
$app-icon-msg-edit: "\e94a";
$app-icon-msg-normal: "\e94b";
$app-icon-msg-send: "\e94c";
$app-icon-msg-sending: "\e94d";
$app-icon-msg-type-love: "\e94e";
$app-icon-msg-type-simple: "\e94f";
$app-icon-msg-type-smile: "\e950";
$app-icon-msg-type-survey: "\e951";
$app-icon-msg-type-thanks: "\e952";
$app-icon-msg-wait: "\e953";
$app-icon-profile-not-selected: "\e954";
$app-icon-profile-selected: "\e955";
$app-icon-question-question: "\e956";
$app-icon-question-question-outline: "\e957";
$app-icon-radio-radio-not-selected: "\e958";
$app-icon-send-message-send: "\e95a";
$app-icon-send-message-send-selected: "\e95b";
$app-icon-sort-down: "\e95c";
$app-icon-sort-up: "\e95d";
$app-icon-store-direction: "\e95e";
$app-icon-store-location: "\e95f";
$app-icon-store-mobile: "\e960";
$app-icon-store-phone: "\e961";
$app-icon-store-store: "\e962";
$app-icon-store-trolly: "\e963";
$app-icon-toggle-off: "\e964";
$app-icon-toggle-on: "\e965";
$app-icon-trend-down: "\e966";
$app-icon-trend-down-outline: "\e967";
$app-icon-trend-up: "\e968";
$app-icon-trend-up-outline: "\e969";

