<div class="uk-table-search-box">
  <uk-input
    [formControl]="searchControl"
    [borderColor]="
      status === 'EMPTY'
        ? UK_TYPE.INPUT.BORDER_COLOR.GRADE_2
        : status === 'ACTIVE'
          ? UK_TYPE.INPUT.BORDER_COLOR.REFERENCE_PRIMARY_MAIN
          : UK_TYPE.INPUT.BORDER_COLOR.CONTENT_ERROR
    "
    [placeholder]="placeholder"
    (keydown.enter)="onEnterPressed()"
  >
    @if (status !== "EMPTY") {
      <uk-icon
        END
        [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
        [name]="UK_TYPE.ICON.NAME.MATH_CLOSE"
        [size]="UK_TYPE.ICON.SIZE.LARGE"
        (click)="onClearClicked()"
      />
    }
  </uk-input>
</div>
