<uk-modal-frame
  class="following-modal"
  [borderRadius]="UK_TYPE.MODAL_FRAME.BORDER_RADIUS.CENTER"
  [showHeader]="UK_TYPE.UK.BOOLEAN.TRUE"
  [showTopClose]="true"
  [title]="'دنبال‌شده‌ها'"
  (ON_CLOSE)="onClose()"
>
  <div FRAME-BODY>
    <div>
      <hang-users-list
        [items]="PC.props.list"
        [limit]="PC.props.request.query.limit"
        [page]="PC.props.request.query.page"
        [count]="PC.props.count"
        bindLabel="username"
        bindId="_id"
        (ON_CLICK)="onClose()"
      />
    </div>
  </div>
  <div FRAME-ACTIONS>
    <uk-button-group>
      <uk-button
        [bgColor]="UK_TYPE.BUTTON.BG_COLOR.TRANSPARENT"
        [borderColor]="UK_TYPE.BUTTON.BORDER_COLOR.COLOR_BUTTON_PRIMARY"
        [cursor]="UK_TYPE.BUTTON.CURSOR.POINTER"
        [display]="UK_TYPE.BUTTON.DISPLAY.BLOCK"
        [fgColor]="UK_TYPE.BUTTON.FG_COLOR.CONTENT_PRIMARY"
        (click)="onClose()"
      >
        بستن
      </uk-button>
    </uk-button-group>
  </div>
</uk-modal-frame>
