@use 'core' as *;

.uk.card {
    width: 100%;
    border-width: 1px;
    border-style: solid;

    &.uk-basic-card {
        &-bg-color {
            &-TRANSPARENT {
                background-color: transparent;
            }

            &-SECONDARY-900 {
                background-color: $color-content-secondary;
            }

            &-SECONDARY-OPACITY-50 {
                background-color: $color-opacity-secondary-01;
            }
        }

        &-border-color {
            &-TRANSPARENT {
                border-color: transparent;
            }

            &-SECONDARY-700 {
                border-color: $color-content-secondary;
            }
        }

        &-padding {
            &-NONE {
                padding: 0;
            }
            &-P-8 {
                padding: 8px;
            }
            &-P-16 {
                padding: 16px;
            }
        }

        &-radius {
            &-NONE {
                border-radius: 0;
            }

            &-R-8 {
                border-radius: 8px;
            }

            &-R-16 {
                border-radius: 16px;
            }
        }
    }
}
