body {
  &.app-theme-DARK {
    // background
    --background-surface-00: var(--background-surface-00-DARK);
    --background-surface-01: var(--background-surface-01-DARK);
    --background-surface-02: var(--background-surface-02-DARK);
    --background-primary-01: var(--background-primary-01-DARK);
    --background-primary-02: var(--background-primary-02-DARK);
    --background-secondary: var(--background-secondary-DARK);
    --background-caution: var(--background-caution-DARK);
    --background-error: var(--background-error-DARK);
    --background-progress: var(--background-progress-DARK);
    --background-success: var(--background-success-DARK);
    --background-neutral: var(--background-neutral-DARK);
    --background-scrim-dark: var(--background-scrim-dark-DARK);
    --background-snackbar: var(--background-snackbar-DARK);
    // opacity
    --opacity-primary-00: var(--opacity-primary-00-DARK);
    --opacity-primary-01: var(--opacity-primary-01-DARK);
    --opacity-primary-02: var(--opacity-primary-02-DARK);
    --opacity-secondary-00: var(--opacity-secondary-00-DARK);
    --opacity-secondary-01: var(--opacity-secondary-01-DARK);
    --opacity-secondary-02: var(--opacity-secondary-02-DARK);
    --opacity-DARK-00: var(--opacity-DARK-00-DARK);
    --opacity-DARK-01: var(--opacity-DARK-01-DARK);
    --opacity-DARK-02: var(--opacity-DARK-02-DARK);
    --opacity-dark-00: var(--opacity-dark-00-DARK);
    --opacity-dark-01: var(--opacity-dark-01-DARK);
    --opacity-dark-02: var(--opacity-dark-02-DARK);
    --opacity-error-00: var(--opacity-error-00-DARK);
    --opacity-error-01: var(--opacity-error-01-DARK);
    --opacity-error-02: var(--opacity-error-02-DARK);
    // content
    --content-DARK: var(--content-DARK-DARK);
    --content-disabled: var(--content-disabled-DARK);
    --content-low-emphasis: var(--content-low-emphasis-DARK);
    --content-high-emphasis: var(--content-high-emphasis-DARK);
    --content-dark: var(--content-dark-DARK);
    --content-neutral: var(--content-neutral-DARK);
    --content-primary: var(--content-primary-DARK);
    --content-secondary: var(--content-secondary-DARK);
    --content-caution: var(--content-caution-DARK);
    --content-error: var(--content-error-DARK);
    --content-progress: var(--content-progress-DARK);
    --content-success: var(--content-success-DARK);
    // border
    --border-grade-0: var(--border-grade-0-DARK);
    --border-grade-1: var(--border-grade-1-DARK);
    --border-grade-2: var(--border-grade-2-DARK);
    // button
    --button-primary: var(--button-primary-DARK);
    --button-primary-hover: var(--button-primary-hover-DARK);
    --button-primary-pressed: var(--button-primary-pressed-DARK);
    --button-primary-hover-outline: var(--button-primary-hover-outline-DARK);
    --button-primary-hover-pressed: var(--button-primary-hover-pressed-DARK);
    --button-secondary: var(--button-secondary-DARK);
    --button-secondaryHover: var(--button-secondaryHover-DARK);
    --button-outline: var(--button-outline-DARK);
    --button-disabled: var(--button-disabled-DARK);
    --button-error-fill: var(--button-error-fill-DARK);
    --button-error-fill-hover: var(--button-error-fill-hover-DARK);
    --button-error-outline-hover: var(--button-error-outline-hover-DARK);
    --button-error-outline-pressed: var(--button-error-outline-pressed-DARK);
    // tag
    --tag-tag-100: var(--tag-tag-100-DARK);
    --tag-tag-200: var(--tag-tag-200-DARK);
    --tag-tag-300: var(--tag-tag-300-DARK);
    --tag-tag-400: var(--tag-tag-400-DARK);
    --tag-tag-500: var(--tag-tag-500-DARK);
    --tag-tag-600: var(--tag-tag-600-DARK);
    --tag-tag-700: var(--tag-tag-700-DARK);
    --tag-tag-800: var(--tag-tag-800-DARK);
    --tag-tag-850: var(--tag-tag-850-DARK);
    --tag-tag-900: var(--tag-tag-900-DARK);
    // primaryReference
    --reference-primary-primary-DARKness: var(--reference-primary-primary-DARKness-DARK);
    --reference-primary-primary-DARK: var(--reference-primary-primary-DARK-DARK);
    --reference-primary-main: var(--reference-primary-main-DARK);
    --reference-primary-dark: var(--reference-primary-dark-DARK);
    --reference-primary-darker: var(--reference-primary-darker-DARK);
    --reference-primary-darkest: var(--reference-primary-darkest-DARK);
    // secondaryReference
    --reference-secondary-primaryLightness: var(--reference-secondary-primary-DARKness-DARK);
    --reference-secondary-primaryLight: var(--reference-secondary-primary-DARK-DARK);
    --reference-secondary-main: var(--reference-secondary-main-DARK);
    --reference-secondary-dark: var(--reference-secondary-dark-DARK);
    --reference-secondary-darker: var(--reference-secondary-darker-DARK);
    --reference-secondary-darkest: var(--reference-secondary-darkest-DARK);
    // referenceNeutral
    --reference-neutral-neutral-100: var(--reference-neutral-neutral-100-DARK);
    --reference-neutral-neutral-99: var(--reference-neutral-neutral-99-DARK);
    --reference-neutral-neutral-95: var(--reference-neutral-neutral-95-DARK);
    --reference-neutral-neutral-90: var(--reference-neutral-neutral-90-DARK);
    --reference-neutral-neutral-80: var(--reference-neutral-neutral-80-DARK);
    --reference-neutral-neutral-70: var(--reference-neutral-neutral-70-DARK);
    --reference-neutral-neutral-60: var(--reference-neutral-neutral-60-DARK);
    --reference-neutral-neutral-50: var(--reference-neutral-neutral-50-DARK);
    --reference-neutral-neutral-40: var(--reference-neutral-neutral-40-DARK);
    --reference-neutral-neutral-30: var(--reference-neutral-neutral-30-DARK);
    --reference-neutral-neutral-20: var(--reference-neutral-neutral-20-DARK);
    --reference-neutral-neutral-10: var(--reference-neutral-neutral-10-DARK);
  }
}
