body {
  &.app-theme-LIGHT {
    // background
    --background-surface-00: var(--background-surface-00-LIGHT);
    --background-surface-01: var(--background-surface-01-LIGHT);
    --background-surface-02: var(--background-surface-02-LIGHT);
    --background-primary-01: var(--background-primary-01-LIGHT);
    --background-primary-02: var(--background-primary-02-LIGHT);
    --background-secondary: var(--background-secondary-LIGHT);
    --background-caution: var(--background-caution-LIGHT);
    --background-error: var(--background-error-LIGHT);
    --background-progress: var(--background-progress-LIGHT);
    --background-success: var(--background-success-LIGHT);
    --background-neutral: var(--background-neutral-LIGHT);
    --background-scrim-dark: var(--background-scrim-dark-LIGHT);
    --background-snackbar: var(--background-snackbar-LIGHT);
    // opacity
    --opacity-primary-00: var(--opacity-primary-00-LIGHT);
    --opacity-primary-01: var(--opacity-primary-01-LIGHT);
    --opacity-primary-02: var(--opacity-primary-02-LIGHT);
    --opacity-secondary-00: var(--opacity-secondary-00-LIGHT);
    --opacity-secondary-01: var(--opacity-secondary-01-LIGHT);
    --opacity-secondary-02: var(--opacity-secondary-02-LIGHT);
    --opacity-light-00: var(--opacity-light-00-LIGHT);
    --opacity-light-01: var(--opacity-light-01-LIGHT);
    --opacity-light-02: var(--opacity-light-02-LIGHT);
    --opacity-dark-00: var(--opacity-dark-00-LIGHT);
    --opacity-dark-01: var(--opacity-dark-01-LIGHT);
    --opacity-dark-02: var(--opacity-dark-02-LIGHT);
    --opacity-error-00: var(--opacity-error-00-LIGHT);
    --opacity-error-01: var(--opacity-error-01-LIGHT);
    --opacity-error-02: var(--opacity-error-02-LIGHT);
    // content
    --content-light: var(--content-light-LIGHT);
    --content-disabled: var(--content-disabled-LIGHT);
    --content-low-emphasis: var(--content-low-emphasis-LIGHT);
    --content-high-emphasis: var(--content-high-emphasis-LIGHT);
    --content-dark: var(--content-dark-LIGHT);
    --content-neutral: var(--content-neutral-LIGHT);
    --content-primary: var(--content-primary-LIGHT);
    --content-secondary: var(--content-secondary-LIGHT);
    --content-caution: var(--content-caution-LIGHT);
    --content-error: var(--content-error-LIGHT);
    --content-progress: var(--content-progress-LIGHT);
    --content-success: var(--content-success-LIGHT);
    // border
    --border-grade-0: var(--border-grade-0-LIGHT);
    --border-grade-1: var(--border-grade-1-LIGHT);
    --border-grade-2: var(--border-grade-2-LIGHT);
    // button
    --button-primary: var(--button-primary-LIGHT);
    --button-primary-hover: var(--button-primary-hover-LIGHT);
    --button-primary-pressed: var(--button-primary-pressed-LIGHT);
    --button-primary-hover-outline: var(--button-primary-hover-outline-LIGHT);
    --button-primary-hover-pressed: var(--button-primary-hover-pressed-LIGHT);
    --button-secondary: var(--button-secondary-LIGHT);
    --button-secondaryHover: var(--button-secondaryHover-LIGHT);
    --button-outline: var(--button-outline-LIGHT);
    --button-disabled: var(--button-disabled-LIGHT);
    --button-error-fill: var(--button-error-fill-LIGHT);
    --button-error-fill-hover: var(--button-error-fill-hover-LIGHT);
    --button-error-outline-hover: var(--button-error-outline-hover-LIGHT);
    --button-error-outline-pressed: var(--button-error-outline-pressed-LIGHT);
    // tag
    --tag-tag-100: var(--tag-tag-100-LIGHT);
    --tag-tag-200: var(--tag-tag-200-LIGHT);
    --tag-tag-300: var(--tag-tag-300-LIGHT);
    --tag-tag-400: var(--tag-tag-400-LIGHT);
    --tag-tag-500: var(--tag-tag-500-LIGHT);
    --tag-tag-600: var(--tag-tag-600-LIGHT);
    --tag-tag-700: var(--tag-tag-700-LIGHT);
    --tag-tag-800: var(--tag-tag-800-LIGHT);
    --tag-tag-850: var(--tag-tag-850-LIGHT);
    --tag-tag-900: var(--tag-tag-900-LIGHT);
    // primaryReference
    --reference-primary-primary-lightness: var(--reference-primary-primary-lightness-LIGHT);
    --reference-primary-primary-light: var(--reference-primary-primary-light-LIGHT);
    --reference-primary-main: var(--reference-primary-main-LIGHT);
    --reference-primary-dark: var(--reference-primary-dark-LIGHT);
    --reference-primary-darker: var(--reference-primary-darker-LIGHT);
    --reference-primary-darkest: var(--reference-primary-darkest-LIGHT);
    // secondaryReference
    --reference-secondary-primaryLightness: var(--reference-secondary-primary-lightness-LIGHT);
    --reference-secondary-primaryLight: var(--reference-secondary-primary-light-LIGHT);
    --reference-secondary-main: var(--reference-secondary-main-LIGHT);
    --reference-secondary-dark: var(--reference-secondary-dark-LIGHT);
    --reference-secondary-darker: var(--reference-secondary-darker-LIGHT);
    --reference-secondary-darkest: var(--reference-secondary-darkest-LIGHT);
    // referenceNeutral
    --reference-neutral-neutral-100: var(--reference-neutral-neutral-100-LIGHT);
    --reference-neutral-neutral-99: var(--reference-neutral-neutral-99-LIGHT);
    --reference-neutral-neutral-95: var(--reference-neutral-neutral-95-LIGHT);
    --reference-neutral-neutral-90: var(--reference-neutral-neutral-90-LIGHT);
    --reference-neutral-neutral-80: var(--reference-neutral-neutral-80-LIGHT);
    --reference-neutral-neutral-70: var(--reference-neutral-neutral-70-LIGHT);
    --reference-neutral-neutral-60: var(--reference-neutral-neutral-60-LIGHT);
    --reference-neutral-neutral-50: var(--reference-neutral-neutral-50-LIGHT);
    --reference-neutral-neutral-40: var(--reference-neutral-neutral-40-LIGHT);
    --reference-neutral-neutral-30: var(--reference-neutral-neutral-30-LIGHT);
    --reference-neutral-neutral-20: var(--reference-neutral-neutral-20-LIGHT);
    --reference-neutral-neutral-10: var(--reference-neutral-neutral-10-LIGHT);
  }
}
