@use "core" as *;

:host {
  width: 100%;
}
.uk.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  > .first {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem(36);
    height: pxToRem(36);

    &:hover {
      @include cursorPointerOverlay();
      box-shadow: 0px 0px 0px 2px rgba(240, 240, 241, 1);
      border-radius: 50%;
    }

    &.disabled {
      @include cursorNotAllowedOverlay();
    }
  }
  > .middle {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 12px;

    .page-button {
      position: relative;
      border-radius: pxToRem(8);
      width: pxToRem(36);
      height: pxToRem(36);
      text-align: center;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        content: "";
      }

      &.active {
        box-shadow: 0px 1px 3px 0px #0000001f;
        background-color: #19b8ff33;
      }

      &:not(.active) {
        &:hover {
          box-shadow: 0px 0px 0px 2px rgba(240, 240, 241, 1);
          border-radius: 50%;
        }
      }
    }

    .dots {
      position: relative;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
      }
    }
  }
  > .last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: pxToRem(36);
    height: pxToRem(36);

    &:hover {
      box-shadow: 0px 0px 0px 2px rgba(240, 240, 241, 1);
      border-radius: 50%;
      @include cursorPointerOverlay();
    }

    &.disabled {
      @include cursorNotAllowedOverlay();
    }
  }
}
