@use 'core' as *;

:host {
  height: 100%;
}

.uk.dropdown-info {
  .header {
    position: relative;
    @include cursorPointerOverlay();
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: pxToRem(8) pxToRem(16);

    > .icon-wrapper {
      display: none;
      justify-content: center;
      align-items: center;
      margin-left: pxToRem(12);

      &:not(:empty) {
        display: flex;
      }
    }

    > uk-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      &.last {
        position: absolute;
        top: pxToRem(16);
        left: pxToRem(16);
        transition: all 0.6s ease-in;
        margin-right: pxToRem(8);

        &.status-UP {
          transform: rotate(0);
        }

        &.status-DOWN {
          transform: rotate(180deg);
        }
      }
    }
  }
  & .white-divider {
    margin-right: pxToRem(-8);
    margin-left: pxToRem(-8);
    background-color: white;
    height: 1px;
  }
  .content {
    .content-zoon {
      padding: 8px;
    }
  }
}
