<div class="uk time-slider">
    <ng-container *ngIf="mode === 'IN_LINE'">
        <uk-time-slider-controller
            [amPm]="amPm"
            [disabled]="disabled"
            [hour]="hour"
            [is24Hour]="is24Hour"
            [minute]="minute"
            [minuteStep]="minuteStep"
            [showCurrent]="showCurrent"
            [value]="value"
            (ON_TIME_CHANGE)="onTimeChange($event)"
        />
    </ng-container>
    <ng-container *ngIf="mode === 'POPUP'">
        <uk-button
            [bgColor]="disabled ? UK_TYPE.BUTTON.BG_COLOR.BUTTON_SECONDARY : UK_TYPE.BUTTON.BG_COLOR.BUTTON_PRIMARY"
            (click)="openTimeModal($event)"
        >
            <uk-icon
                [cursor]="UK_TYPE.ICON.CURSOR.POINTER"
                [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_SECONDARY"
                [name]="UK_TYPE.ICON.NAME.AT"
                [size]="UK_TYPE.ICON.SIZE.LARGE"
            />
        </uk-button>
        <uk-input
            [disabled]="disabled"
            [mask]="mask"
            [placeholder]="range"
            [(ngModel)]="value"
        />
    </ng-container>
</div>
