// html {
//     &.app-size-SMALLER {
//         font-size: 80%;
//     }

//     &.app-size-SMALL {
//         font-size: 90%;
//     }

//     &.app-size-MEDIUM {
//         font-size: 100%;
//     }

//     &.app-size-LARGE {
//         font-size: 110%;
//     }

//     &.app-size-LARGER {
//         font-size: 120%;
//     }
// }
