// ############################################## solution #1
// .horizontal {
//     width: 100%;

//     > .vertical {
//         float: left;

//         &.w-3 {
//             width: 33.333%;
//         }

//         &.w-4 {
//             width: 25%;
//         }

//         &.w-12 {
//             width: 8.333%;
//         }
//     }

//     &:after {
//         content: '';
//         display: block;
//         clear: both;
//         float: none;
//     }
// }

// ############################################## solution #2
.horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;

    .vertical {
        &.w-2 {
            flex: 1 1 calc(50% - 10px);
            // height: 100px;
        }

        &.w-3 {
            flex: 1 1 calc(33.333% - 10px);
            // height: 100px;
        }
    }
}
