.ng-data-picker {
  position: relative;
  background-color: white;
  height: 10em;
  overflow: hidden;
  font-size: 1rem;

  &.black {
    color: white;
  }

  .picker-item {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    contain: strict;
    width: 100%;
    height: 2em;
    overflow: hidden;
    font-size: 1em;
    line-height: 2;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .picker-list {
    position: relative;
    top: 4em; // half of picker height - half of item height
    height: 6.25em;
  }

  .picker-group {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAABmklEQVRYCe3RQUrEQBBA0cQbiN7QQ7h03HkJ8YLCeINIhFkIIprp7qpKXkOTbCop3p8mhwABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgEACgbu3j8f1Jlhl8wo3myeDB+9fz6d5mV7Wu74Hr7P59/PmycDBL/B5fvq2wrI8vz/cnqZip1yAH/Ev6AUjlArwK37RCGUC/Am/YIQSAf6FXyxC+gCb8AtFSB3gKvwiEdIGaIJfIELKAE3xk0dIF6ALfuIIqQJ0xU8aIU2AIfgJI6QIMBQ/WYTwACH4iSKEBgjFTxIhLEAK/AQRQgKkwg+OMDxASvzACEMDpMYPijAsQAn8gAhDApTCHxyhe4CS+AMjdA1QGn9QhG4BdoE/IEKXALvC7xyheYBd4neM0DTArvE7RWgW4BD4HSI0CXAo/MYRrg5wSPzGES6f8yRAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgAABAgQIECBAgACBWgKfOrbdo0Y+zpQAAAAASUVORK5CYII=);
      background-position: center -25px;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      content: "";
    }

    &:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAACBklEQVRYCe3RTUoDQRBA4R5PoKAX1EPozrjTQ+gFFfQGY14WAUFE7b+qyRsYCIGervpeKT4KKKCAAgoooIACCiiggAIKKKCAAgoooIACCiiggAIKKKCAAgoooIACCiiggAIKKKCAAgoooIACCiiggAIKKKCAAlkFltrBr14+HtdSbmu/k/H8Hu/p9fr8rmb2s5rDnD0MsK4P/D6pd7/zYffKpZfK88fjl8/vu7Is98c/tvxjj/92c7ErDZ5mAZjlJCI0xMesaQA+uOkIjfHxah6Aj24yQgd8rLoE4MObitAJH6duAfj4JiJ0xMeoawAuSB2hMz4+3QNwScoIA/CxGRKAi1JFGISPy7AAXJYiwkB8TIYG4MLQEQbj4zE8AJeGjDABH4spAbg4VIRJ+DhMC8DlISJMxMdgagAGmBphMj77Tw/AEFMiBMBn9xABGGRohCD47B0mAMMMiRAIn51DBWCgrhGC4bNvuAAM1SVCQHx2DRmAwZpGCIrPnmEDMFyTCIHx2TF0AAasihAcn/3CB2DIf0VIgM9uKQIw6J8iJMFnrzQBGPZXERLhs1OqAAz8Y4Rk+OyTLgBDfxshIT67pAzA4F8iJMVnj9QvEXhTL+HwCiiggAIKKKCAAgoooIACCiiggAIKKKCAAgoooIACCiiggAIKKKCAAgoooIACCiiggAKbEfgEbOTeCdS+zhYAAAAASUVORK5CYII=);
      background-position: center 87px;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  .selected-item {
  }

  .picker-handle-layer {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: calc(100% + 2px);
  }

  .picker-handle-layer .picker-top {
    transform: translate3d(0, 0, 5.625em);
    border-bottom: 0.55px solid rgba(74, 73, 89, 0.5);
    background: linear-gradient(
      to bottom,
      white 2%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  .picker-handle-layer .picker-middle {
    height: 2em;
  }

  .picker-handle-layer {
    touch-action: none;

    .picker-bottom {
      transform: translate3d(0, 0, 5.625em);
      border-top: 0.55px solid rgba(74, 73, 89, 0.5);
      background: linear-gradient(
        to top,
        white 2%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }
  }
}

/* flex system */
.flex-box {
  display: flex;
  flex-direction: row-reverse;

  &.dir-column {
    flex-direction: column;
  }

  &.dir-row {
    flex-direction: row;
  }

  @for $i from 1 through 12 {
    .weight-#{$i} {
      flex: $i;
    }
  }
}
.xxx {
  font-size: 13px;
}
