@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page.profile-page {
  height: 100%;
}

.profile-page {
}

.loading {
  padding: 8px 0;
  color: #444;
}

.error {
  padding: 8px 0;
  color: #900;
}

.empty {
  padding: 8px 0;
  color: #666;
}
