@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page {
  .profile-info {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .post {
      display: flex;
      flex-direction: column;
      border: 1px solid $color-border-grade-2;
      background-color: $color-background-surface-02;
      margin-bottom: 8px;
      border-radius: 8px;
      padding: 8px;
      gap: 8px;

      .icon {
        display: flex;
      }
    }
  }
}
