@use "core" as *;

$tableBorderColor: $color-border-grade-2;
$tableBorderSize: 1px;
$tableBorderRadius: 12px;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.uk.table {
  .pagination {
    border-top: 1px solid $color-border-grade-2;
    padding: 12px 0;
  }

  .table {
    position: relative;

    .loading-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 999;
      animation: rotate-loading 2s linear infinite;
      animation-iteration-count: infinite;
    }
  }

  .empty-state {
    width: 100%;
    height: 100%;
  }
}

@keyframes rotate-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
