<uk-page
  class="sign-up"
  [bodyOverFlow]="UK_TYPE.PAGE.BODY_OVER_FLOW.SCROLL"
  [showFooterBorder]="false"
>
  <uk-page-body>
    <uk-page-part
      class="top"
      [isFirstChildStick]="UK_TYPE.PAGE_PART.IS_FIRST_CHILD_STICK.FALSE"
    >
      <div class="wrapper">
        <div class="image-box">
          <uk-image [source]="'uk-images/logo/hangout-logo.png'" />
        </div>
      </div>
    </uk-page-part>

    <uk-page-part class="form">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <uk-form>
          <uk-form-body>
            <uk-form-part>
              <uk-form-row class="form-row username">
                <uk-form-controller>
                  <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
                  >
                    نام کاربری
                  </uk-text>
                  <uk-input
                    [formControl]="signUpForm.controls.username"
                    [inputType]="UK_TYPE.INPUT.TYPE.TEXT"
                    [placeholder]="'نام کاربری خود را وارد کنید'"
                  />
                  @if (
                    signUpFormSubmitted &&
                    signUpForm.controls["username"].errors
                  ) {
                    <uk-form-errors
                      [errors]="signUpForm.controls['username'].errors"
                    />
                  }
                </uk-form-controller>
              </uk-form-row>
              <uk-form-row class="form-row email">
                <uk-form-controller>
                  <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
                  >
                    ایمیل
                  </uk-text>
                  <uk-input
                    [formControl]="signUpForm.controls.email"
                    [inputType]="UK_TYPE.INPUT.TYPE.EMAIL"
                    [placeholder]="'ایمیل خود را وارد کنید'"
                  />
                  @if (
                    signUpFormSubmitted && signUpForm.controls["email"].errors
                  ) {
                    <uk-form-errors
                      [errors]="signUpForm.controls['email'].errors"
                    />
                  }
                </uk-form-controller>
              </uk-form-row>
              <uk-form-row class="form-row password">
                <uk-form-controller>
                  <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
                  >
                    رمز عبور
                  </uk-text>
                  <uk-input
                    [formControl]="signUpForm.controls.password"
                    [inputType]="
                      showPassword
                        ? UK_TYPE.INPUT.TYPE.TEXT
                        : UK_TYPE.INPUT.TYPE.PASSWORD
                    "
                    [placeholder]="'رمز عبور خود را وارد کنید'"
                  >
                    <div
                      tabindex="0"
                      (keydown.space)="togglePassword()"
                      (click)="togglePassword()"
                      role="button"
                      END
                    >
                      @if (showPassword) {
                        <uk-icon [name]="UK_TYPE.ICON.NAME.EYE_SLASH" />
                      } @else {
                        <uk-icon [name]="UK_TYPE.ICON.NAME.EYE" />
                      }
                    </div>
                  </uk-input>

                  @if (
                    signUpFormSubmitted &&
                    signUpForm.controls["password"].errors
                  ) {
                    <uk-form-errors
                      [errors]="signUpForm.controls['password'].errors"
                    />
                  }
                </uk-form-controller>
              </uk-form-row>
            </uk-form-part>
          </uk-form-body>
        </uk-form>
      </form>
    </uk-page-part>

    <uk-page-part>
      <div class="info">
        <uk-text
          [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
          [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
        >
          قبلاً ثبت‌ نام کرده‌اید؟
        </uk-text>
        <uk-link [routerLink]="[`../${APP_ROUTES.AUTH.CHILDREN.SIGN_IN}`]"
          >وارد شوید
        </uk-link>
      </div>
    </uk-page-part>
  </uk-page-body>

  <uk-page-footer>
    <uk-button
      [bgColor]="UK_TYPE.BUTTON.BG_COLOR.BUTTON_PRIMARY"
      [cursor]="UK_TYPE.BUTTON.CURSOR.POINTER"
      [display]="UK_TYPE.BUTTON.DISPLAY.BLOCK"
      [fgColor]="UK_TYPE.BUTTON.FG_COLOR.CONTENT_LIGHT"
      [typography]="UK_TYPE.BUTTON.TYPOGRAPHY.BUTTON_1"
      (click)="onSubmit()"
      (keydown.enter)="onSubmit()"
    >
      دریافت کد
    </uk-button>
  </uk-page-footer>
</uk-page>
