@use "core" as *;

:host {
  @include fullHeightBlock();
}

.comp.genera-layout {
  width: 100%;
  height: 100%;
  background-color: black;

  > .wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    > .content {
      width: 100%;
      height: 100%;
    }
  }
}
