@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

uk-page {
  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border-grade-2;
    background-color: $color-background-surface-02;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
    margin-bottom: 8px;
    opacity: 0.6;

    &.need-to-read {
      cursor: pointer;
      background-color: $color-background-surface-02;
      opacity: 1;
      position: relative;

      &:hover {
        background-color: $color-background-surface-01 !important;
      }
    }
  }
}
