<uk-page [bodyOverFlow]="UK_TYPE.PAGE.BODY_OVER_FLOW.SCROLL">
  <uk-page-body [fullHeight]="true">
    <uk-page-part>
      <uk-scroll
        (LOAD_MORE)="this.PC.actions.loadMore()"
        (NO_OVERFLOW)="this.PC.actions.loadMore()"
        [showScrollbar]="UK_TYPE.UK.BOOLEAN.FALSE"
        [appearance]="'auto'"
        [isLoading]="this.PC.props.isLoading"
        [maxHeight]="840"
      >
        @for (item of this.PC.props.list; track item._id) {
          <div
            class="item"
            [ngClass]="{ 'need-to-read': !item.isRead }"
            (click)="PC.actions.markAsRead(item)"
            tabindex="0"
            role="button"
          >
            <uk-text
              [display]="UK_TYPE.TEXT.DISPLAY.BLOCK"
              [typography]="UK_TYPE.TEXT.TYPOGRAPHY.SUBTITLE"
              [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_LOW_EMPHASIS"
            >
              {{ item.createdAt | date: "yyyy-MM-dd" }}
            </uk-text>
            @switch (item.type) {
              @case ("like") {
                <uk-text
                  [display]="UK_TYPE.TEXT.DISPLAY.BLOCK"
                  [typography]="UK_TYPE.TEXT.TYPOGRAPHY.SUBTITLE"
                >
                  {{ item.sender?.username }} پست شما رو لایک کرد
                </uk-text>
              }
              @case ("comment") {
                <uk-text
                  [display]="UK_TYPE.TEXT.DISPLAY.BLOCK"
                  [typography]="UK_TYPE.TEXT.TYPOGRAPHY.SUBTITLE"
                >
                  {{ item.sender?.username }} برات نظر گذاشت
                </uk-text>
              }
              @case ("follow") {
                <uk-text
                  [display]="UK_TYPE.TEXT.DISPLAY.BLOCK"
                  [typography]="UK_TYPE.TEXT.TYPOGRAPHY.SUBTITLE"
                >
                  {{ item.sender?.username }} دنبالت کرد
                </uk-text>
              }
            }
          </div>
        }
      </uk-scroll>
    </uk-page-part>
  </uk-page-body>
</uk-page>
