<div class="uk desktop-form-errors">
  <div class="errors">
    @if (
      errors && errors[UK_ERRORS.REQUIRED] && !errorMessages?.[UK_ERRORS.REQUIRED]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          .این مورد الزامی است
        </uk-text>
      </div>
    }

    @if (
      errors &&
      errors[UK_ERRORS.MINLENGTH] &&
      !errorMessages?.[UK_ERRORS.MINLENGTH]
    ) {
      <div class="error">
        {{ errors["minLength"] | json }}
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          ورود حداقل باید {{ errors["minlength"]["requiredLength"] }} حرف باشد.
        </uk-text>
      </div>
    }

    @if (
      errors &&
      errors[UK_ERRORS.NOT_UNIQUE] &&
      !errorMessages?.[UK_ERRORS.NOT_UNIQUE]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          مقدار قبلا وارد شده.
        </uk-text>
      </div>
    }

    @if (errors && errors[UK_ERRORS.EMAIL] && !errorMessages?.[UK_ERRORS.EMAIL]) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          لطفا ایمیل را به درستی وارد نمایید.
        </uk-text>
      </div>
    }

    @if (
      errors &&
      errors[UK_ERRORS.PHONE_NUMBER] &&
      !errorMessages?.[UK_ERRORS.PHONE_NUMBER]
    ) {
      @if (errors[UK_ERRORS.PHONE_NUMBER]["notMinLength"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            لطفا شماره را به درستی وارد نمایید.
          </uk-text>
        </div>
      }
      @if (errors[UK_ERRORS.PHONE_NUMBER]["notProper"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            لطفا شماره را به درستی وارد نمایید.
          </uk-text>
        </div>
      }
    }

    @if (
      errors &&
      errors[UK_ERRORS.NATIONAL_CODE] &&
      !errorMessages?.[UK_ERRORS.NATIONAL_CODE]
    ) {
      @if (errors[UK_ERRORS.NATIONAL_CODE]["notEqualDigits"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            ورودی کامل نیست.
          </uk-text>
        </div>
      }
      @if (errors[UK_ERRORS.NATIONAL_CODE]["notValidCode"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            کد ملی معتبر نیست.
          </uk-text>
        </div>
      }
    }

    @if (
      errors &&
      errors[UK_ERRORS.IRANIAN_BANK_CARD_NUMBER] &&
      !errorMessages?.[UK_ERRORS.IRANIAN_BANK_CARD_NUMBER]
    ) {
      @if (errors[UK_ERRORS.IRANIAN_BANK_CARD_NUMBER]["notValidNumber"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            شماره کارت معتبر نیست.
          </uk-text>
        </div>
      }
    }

    @if (
      errors &&
      errors[UK_ERRORS.IRANIAN_BANK_CARD_IBAN_NUMBER] &&
      !errorMessages?.[UK_ERRORS.IRANIAN_BANK_CARD_IBAN_NUMBER]
    ) {
      @if (errors[UK_ERRORS.IRANIAN_BANK_CARD_IBAN_NUMBER]["notValidNumber"]) {
        <div class="error">
          <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
            شماره شبا معتبر نیست.
          </uk-text>
        </div>
      }
    }

    @if (
      errors && errors[UK_ERRORS.PATTERN] && !errorMessages?.[UK_ERRORS.PATTERN]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          شماره نادرست است.
        </uk-text>
      </div>
    }

    @if (
      errors &&
      errors[UK_ERRORS.NOT_ALL_ZERO] &&
      !errorMessages?.[UK_ERRORS.NOT_ALL_ZERO]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          شماره به درستی وارد نشده است.
        </uk-text>
      </div>
    }

    @if (
      errors &&
      errors[UK_ERRORS.INVALID_FORMAT] &&
      !errorMessages?.[UK_ERRORS.INVALID_FORMAT]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          فرمت فایل معتبر نیست.
        </uk-text>
      </div>
    }
    @if (
      errors &&
      errors[UK_ERRORS.SIZE_LIMIT] &&
      !errorMessages?.[UK_ERRORS.SIZE_LIMIT]
    ) {
      <div class="error">
        <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
          سایز فایل انتخاب شده باید کمتر از 1 مگابایت باشد.
        </uk-text>
      </div>
    }
    @if (errorMessages && errors) {
      @for (msg of getErrorMessages(); track $index) {
        @if (msg) {
          <div class="error">
            <uk-text [fgColor]="ERROR_FG_COLOR" [typography]="ERROR_TYPOGRAPHY">
              {{ msg }}
            </uk-text>
          </div>
        }
      }
    }
  </div>
</div>