@use 'core' as *;

:host {
    display: block;
    width: 235px;
}

.time-slider-controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 227px;
    background-color: #606062;
    padding: 8px;

    .time-header {
        display: flex;
        align-items: center;
        gap: 8px;
        direction: ltr;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            border-radius: 4px;
            background-color: $color-background-primary-01;
            padding: 0.5rem 1rem;
            width: 32px;
            height: 24px;
            color: $color-content-primary;
            font-feature-settings: "ss01";
        }

        span {
            display: block;
            height: 24px;
            font-size: 17px;
            font-feature-settings: "ss01";
        }
    }

    .slider-container {
        width: 100%;
    }

    button:disabled {
        background-color: var(--time-slider-btn-disabled-bg, #ccc);
    }
}
