@use 'core' as *;

:host {
    display: block;
    width: 235px;
}

.uk.date-time-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    background-color: #606062;

    .divider {
        margin: 0 0 10px;
        background-color: $color-background-primary-01;
        width: calc(100% - 8px);
        height: 2px;
    }

    uk-time-slider {
        display: block;
        width: calc(100% - 8px);
    }
}
