.hang-notifications {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .notif-row {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  uk-tile.unread {
    background: rgba(0, 0, 0, 0.03);
  }
}
