@use "core" as *;

.uk.shape-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  &.shape-icon {
    &-fg-color {
      &-TRANSPARENT {
        > .icon {
          color: transparent;
        }
      }
      &-OPACITY-PRIMARY-00 {
        > .icon {
          color: $color-opacity-primary-00;
        }
      }
      &-REFERENCE-NEUTRAL-80 {
        > .icon {
          color: $color-reference-neutral-neutral-80;
        }
      }
      &-REFERENCE-PRIMARY-MAIN {
        > .icon {
          color: $color-reference-primary-main;
        }
      }
      &-BUTTON-ERROR-FILL {
        > .icon {
          color: $color-background-error;
        }
      }
      &-CONTENT-HIGH-EMPHASIS {
        > .icon {
          color: $color-content-high-emphasis;
        }
      }
      &-CONTENT-SUCCESS {
        > .icon {
          color: $color-content-success;
        }
      }
    }
    &-bg-color {
      &-TRANSPARENT {
        > .icon {
          background-color: transparent;
        }
      }
      &-OPACITY-PRIMARY-00 {
        > .icon {
          background-color: $color-opacity-primary-00;
        }
      }
      &-BACKGROUND-ERROR {
        > .icon {
          background-color: $color-background-error;
        }
      }
      &-REFERENCE-PRIMARY-MAIN {
        > .icon {
          background-color: $color-reference-primary-main;
        }
      }
      &-BACKGROUND-PRIMARY-01 {
        > .icon {
          background-color: $color-background-primary-01;
        }
      }
      &-BACKGROUND-SURFACE-01 {
        > .icon {
          background-color: $color-background-surface-01;
        }
      }
      &-BACKGROUND-SURFACE-02 {
        > .icon {
          background-color: $color-background-surface-02;
        }
      }
      &-BACKGROUND-SUCCESS {
        > .icon {
          background-color: $color-background-success;
        }
      }
      &-REFERENCE-NEUTRAL-80 {
        background-color: $color-reference-neutral-neutral-80;
      }
    }
    &-border-color {
      &-TRANSPARENT {
        > .icon {
          border: none;
        }
      }
      &-ERROR {
        > .icon {
          border: 1px solid $color-button-error;
        }
      }
    }
    &-type {
      &-CIRCLE {
        > .icon {
          border-radius: 50%;
        }
      }

      &-SQUARE {
        &.shape-icon-size {
          &-SMALL {
            > .icon {
              border-radius: 4px;
            }
          }
          &-MEDIUM {
            > .icon {
              border-radius: 6px;
            }
          }
          &-LARGE {
            > .icon {
              border-radius: 8px;
            }
          }
        }
      }
    }
    &-size {
      &-SMALL {
        > .icon {
          width: 20px;
          height: 20px;
        }
      }
      &-MEDIUM {
        > .icon {
          width: 40px;
          height: 40px;
        }
      }
      &-LARGE {
        > .icon {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
