.hang-profile {
  padding: 12px;
}
.profile-header {
  display: flex;
  gap: 16px;
  align-items: center;
}
.profile-counts {
  margin-left: auto;
  display: flex;
  gap: 12px;
}
.profile-posts {
  margin-top: 16px;
}
