@use "core" as *;

:host {
  @include fullHeightBlock();
}

.comp.narrow-layout {
  height: 100%;
  width: 100%;
  margin: auto;

  > .wrapper {
    width: 100%;
    height: 100%;

    > .content {
      width: 100%;
      height: 100%;
    }
  }
}
