@use "core" as *;
:host {
  width: 100%;
}

.uk.switch {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;

  .input-wrapper {
    width: 26px;
    height: 17px;
    position: relative;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }

    .input-control {
      position: absolute;
      display: block;
      cursor: pointer;
      border-radius: 25px;
      background: grey;
      width: 26px;
      height: 17px;
      text-indent: -9999px;

      &:after {
        position: absolute;
        top: 3px;
        left: 3.5px;
        transition: 0.3s;
        // background: #fff;
        border: 3px solid white;
        border-radius: 11px;
        width: 11px;
        height: 11px;
        content: "";
      }
    }

    input:checked + .input-control {
      background: #279f69;
    }

    input:checked + .input-control:after {
      left: calc(100% - 2px);
      transform: translateX(-100%);
    }
  }

  &.uk-switch {
    &-cursor {
      &-UNSET {
      }
      &-POINTER {
        input {
          cursor: pointer;
        }
      }
    }
  }
}
