@use "core" as *;

:host {
  display: block;
}

.uk.form-controller {
  height: 100%;

  .label {
    display: none;

    &:not(:empty) {
      min-height: 24px;
      display: flex;

      > .is-required {
        margin-left: 4px;
      }
    }
  }

  .controller-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 48px;
  }
}
