@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.profile-details {
  width: 100%;
  display: flex;

  .user {
    width: 100%;

    .follow {
      display: flex;
    }
  }
}
