@use "core" as *;

.uk.card {
  cursor: pointer;

  .card {
    border: 1px solid $color-border-grade-2;
    background-color: $color-background-surface-02;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
  }
}
