@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.uk.animation {
  display: block;
  width: 100%;
  height: 100%;

  ng-lottie {
    display: block;
    width: 100%;
    height: 100%;
  }
}
