<uk-page
  class="sign-in"
  [bodyOverFlow]="UK_TYPE.PAGE.BODY_OVER_FLOW.SCROLL"
  [showFooterBorder]="false"
>
  <uk-page-body>
    <uk-page-part
      class="top"
      [isFirstChildStick]="UK_TYPE.PAGE_PART.IS_FIRST_CHILD_STICK.FALSE"
    >
      <div class="wrapper">
        <div class="image-box">
          <uk-image [source]="'uk-images/logo/hangout-logo.png'" />
        </div>
      </div>
    </uk-page-part>

    <uk-page-part class="form">
      <form (ngSubmit)="onSubmit()">
        <uk-form [formGroup]="signInForm">
          <uk-form-body>
            <uk-form-part>
              <uk-form-row class="form-row email">
                <uk-form-controller>
                  <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
                  >
                    ایمیل
                  </uk-text>
                  <uk-input
                    [formControl]="signInForm.controls.email"
                    [inputType]="UK_TYPE.INPUT.TYPE.TEXT"
                    [placeholder]="'ایمیل خود را وارد کنید'"
                  >
                    <!-- <uk-icon
                      START
                      [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
                      [name]="UK_TYPE.ICON.NAME.STORE_MOBILE"
                      [size]="UK_TYPE.ICON.SIZE.LARGEST"
                    /> -->

                    <!-- <uk-icon
                      *ngIf="loginForm.controls.phoneNumber.value"
                      END
                      [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
                      [name]="UK_TYPE.ICON.NAME.MATH_CLOSE"
                      [size]="UK_TYPE.ICON.SIZE.LARGE"
                      (click)="setClear()"
                    /> -->
                  </uk-input>
                  <!-- <uk-form-errors
                    *ngIf="
                      loginFormSubmitted &&
                      loginForm.controls['phoneNumber'].errors
                    "
                    [errors]="loginForm.controls['phoneNumber'].errors"
                  /> -->
                </uk-form-controller>
              </uk-form-row>
              <uk-form-row class="form-row password">
                <uk-form-controller>
                  <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
                  >
                    رمز عبور
                  </uk-text>
                  <uk-input
                    [formControl]="signInForm.controls.password"
                    [inputType]="UK_TYPE.INPUT.TYPE.TEXT"
                    [placeholder]="'رمز عبور خود را وارد کنید'"
                  >
                    <!-- <uk-icon
                      START
                      [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
                      [name]="UK_TYPE.ICON.NAME.STORE_MOBILE"
                      [size]="UK_TYPE.ICON.SIZE.LARGEST"
                    />

                    <uk-icon
                      *ngIf="loginForm.controls.phoneNumber.value"
                      END
                      [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
                      [name]="UK_TYPE.ICON.NAME.MATH_CLOSE"
                      [size]="UK_TYPE.ICON.SIZE.LARGE"
                      (click)="setClear()"
                    /> -->
                  </uk-input>
                  <!-- <uk-form-errors
                    *ngIf="
                      loginFormSubmitted &&
                      loginForm.controls['phoneNumber'].errors
                    "
                    [errors]="loginForm.controls['phoneNumber'].errors"
                  /> -->
                </uk-form-controller>
              </uk-form-row>
            </uk-form-part>
          </uk-form-body>
        </uk-form>
      </form>
    </uk-page-part>
  </uk-page-body>

  <uk-page-footer>
    <uk-button
      [buttonType]="UK_TYPE.BUTTON.TYPE.SUBMIT"
      [bgColor]="UK_TYPE.BUTTON.BG_COLOR.BUTTON_PRIMARY"
      [cursor]="UK_TYPE.BUTTON.CURSOR.POINTER"
      [display]="UK_TYPE.BUTTON.DISPLAY.BLOCK"
      [fgColor]="UK_TYPE.BUTTON.FG_COLOR.CONTENT_LIGHT"
      [typography]="UK_TYPE.BUTTON.TYPOGRAPHY.BUTTON_1"
      (click)="onSubmit()"
    >
      دریافت کد
    </uk-button>
  </uk-page-footer>
</uk-page>
