@use "core" as *;

$fixedPadding: pxToRem(8);
$contentPadding: pxToRem(15);
$headerBgColor: rgb(187 187 187);
$headerHeight: pxToRem(50);
$sliderHeaderHeight: pxToRem(34);
$sliderBgColor: rgb(255, 255, 255);
$liPadding: pxToRem(5);

:host {
  display: block;
  height: 100%;
}

.uk.desktop-multi-tab-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  uk-page-part {
    header {
      position: relative;
      width: 100%;
      height: $headerHeight;
      overflow: hidden;
      > .slider {
        position: absolute;
        top: pxToRem(3);
        left: 3px;
        z-index: 1;
        transition: all 0.3s ease-in;
        width: 0;
        height: $sliderHeaderHeight;
      }

      > ul {
        display: flex;
        position: relative;
        width: 100%;
        height: $headerHeight;

        > li {
          @include pointerOverlay();
          display: flex;
          list-style: none;
          height: $headerHeight;
          padding: $liPadding;
          align-items: center;
          width: 100%;
          justify-content: center;
          transition: all 0.3s ease-in;

          &::before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 4px; // same height as your border-bottom earlier
            background-color: transparent;
            // transform: scaleX(0);
            transition: background-color 0.3s ease-in;
            border-radius: 2px 2px 0 0;
            content: "";
          }

          &.active {
            &::before {
              background-color: $color-content-primary;
              // transform: scaleX(1);
            }
          }
        }
      }
    }

    main {
      height: 100%;

      > .fixed {
        display: none;

        &:not(:empty) {
          display: block;
          padding: $fixedPadding;
        }
      }

      > .content {
        height: 100%;
      }
    }

    &.multi-tab-main-part {
      height: 100%;
    }
  }

  &.uk-desktop-multi-tab-view {
    &-header-display {
      &-BLOCK {
        uk-page-part {
          header {
            > ul {
              > li {
              }
            }
          }
        }
      }
      &-INLINE {
        uk-page-part {
          header {
            > ul {
              > li {
                flex: 0;
                white-space: nowrap;

                &:not(:last-child) {
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
    }

    &-header-divider {
      &-FALSE {
      }
      &-TRUE {
        uk-page-part {
          header {
            > ul {
              border-bottom: solid 1px $color-border-grade-2;
            }
          }
        }
      }
    }
  }
}
