@use "core" as *;

$size: pxToRem(20);
$innerSize: pxToRem(14);
$borderRadius: pxToRem(5);
$borderColor: #dbdade;
$borderColorActive: $color-button-primary;
$mainColor: #dbdade;
$shadowColor: #a5a3ae4d;
$shadowSize: 0 2px 4px;

$checkMarkBorderWidth: 2px;
$checkMarkHeight: 12px;
$checkMarkWidth: 6px;
$checkMarkBorderColor: #ffffff;
$checkMarkBgColor: $color-button-primary;

:host {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.uk.check-box {
  width: 100%;
  height: 100%;

  > label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;

    .input {
      width: $size;
      height: $size;
      position: relative;

      > .check-mark {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid $color-border-grade-2;
        border-radius: $borderRadius;
        box-shadow: none;
        z-index: 1;

        &:after {
          content: "";
          transform: rotate(45deg);
          height: $checkMarkHeight;
          width: $checkMarkWidth;
          border-bottom: $checkMarkBorderWidth solid $checkMarkBorderColor;
          border-right: $checkMarkBorderWidth solid $checkMarkBorderColor;
          position: absolute;
          left: 7px;
          top: 2px;
          display: none;
        }
      }

      > input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        text-align: center;

        &:checked ~ .check-mark {
          background-color: $checkMarkBgColor;
          border: none;
          &:after {
            display: block;
          }
        }
      }
    }
  }
}
