<button
  class="uk button"
  [class.disabled]="disabled"
  [disabled]="disabled"
  [ngClass]="[
    'uk-button-bg-color-' + bgColor,
    'uk-button-fg-color-' + fgColor,
    'uk-button-display-' + display,
    'uk-button-border-color-' + borderColor,
    'uk-button-padding-' + padding,
    'uk-button-cursor-' + cursor,
    'uk-button-height-' + height,
    'uk-button-border-radius-' + borderRadius,
    'uk-button-uk-type-' + ukType,
  ]"
  [type]="buttonType"
>
  <div class="start">
    <ng-content select="[START]" />
  </div>
  <uk-text
    [fgColor]="fgColor"
    [horizontalAlignment]="horizontalAlignment"
    [typography]="typography"
    [verticalAlignment]="verticalAlignment"
  >
    <ng-content />
  </uk-text>
  <div class="end">
    <ng-content select="[END]" />
  </div>
</button>
