@use "core" as *;

$height: pxToRem(40);
$tb-padding-normal: pxToRem(10);
$lr-padding-normal: pxToRem(18);
$tb-padding-small: pxToRem(3);
$lr-padding-small: pxToRem(10);
$border-radius-normal: pxToRem(8);
$border-radius-small: pxToRem(4);
$inner-margin: pxToRem(5);

$height-normal: pxToRem(38);
$height-small: pxToRem(8);

:host {
  text-align: center;

  &.is-blocked {
    display: block;
    width: 100%;
  }
}

.uk.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  text-wrap: nowrap;
  width: 100%;
  height: 100%;

  &.uk-button {
    &-display {
      &-BLOCK {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      &-INLINE {
      }

      &-SQUARE {
        width: 48px;
      }
    }

    &-bg-color {
      &-TRANSPARENT {
        background-color: transparent;
      }
      &-BUTTON-PRIMARY {
        background-color: $color-button-primary;

        &:hover {
          background-color: $color-button-primary-hover;
        }

        &:active {
          background-color: $color-button-primary-pressed;
        }
      }
      &-BUTTON-SECONDARY {
        background-color: $color-button-secondary;

        &:hover {
          background-color: $color-button-secondary-hover;
        }

        &:active {
          background-color: $color-button-secondary-pressed;
        }
      }
      &-BUTTON-DISABLED {
        background-color: $color-button-disabled;
      }
      &-ERROR {
        background-color: $color-button-error;

        &:hover {
          background-color: $color-button-error-hover;
        }

        &:active {
          background-color: $color-button-error-pressed;
        }
      }
    }

    &-border-color {
      &-TRANSPARENT {
        border: none;
      }
      &-BUTTON-PRIMARY {
        border: 1px solid $color-button-primary;
      }
      &-BUTTON-SECONDARY {
        border: 1px solid $color-button-secondary;
      }
      &-BUTTON-DISABLED {
        border: 1px solid $color-button-disabled;
      }
      &-BUTTON-ERROR {
        border: 1px solid $color-button-error;
      }
    }

    &-padding {
      &-NORMAL {
        padding: $tb-padding-normal $lr-padding-normal;
      }

      &-SMALL {
        padding: $tb-padding-small $lr-padding-small;
      }
      &-NONE {
        padding: 0;
      }
    }

    &-height {
      &-H-48 {
        min-height: 48px;
      }
      &-H-40 {
         min-height: 40px;
      }
      &-H-36 {
         min-height: 36px;
      }
      &-H-32 {
         min-height: 32px;
      }
      &-H-24 {
         min-height: 24px;
      }
      &-H-16 {
         min-height: 16px;
      }
    }

    &-border-radius {
      &-R-12 {
        border-radius: 12px;
      }
      &-R-08 {
        border-radius: 8px;
      }
      &-R-04 {
        border-radius: 4px;
      }
      &-R-00 {
        border-radius: 0;
      }
    }

    &-uk-type {
      &-NONE {
      }

      &-OUTLINE-BLUE {
        // background-color: $color-fg-white;
        // border-color: $color-bg-ocean-600;
      }
    }
  }

  .start {
    display: none;

    &:not(:empty) {
      display: block;
    }
  }

  .end {
    display: none;

    &:not(:empty) {
      display: block;
    }
  }

  &:not(.disabled) {
    &.uk-button {
      &-cursor {
        &-POINTER {
          @include cursorPointerOverlay();
        }
      }
    }
  }

  &.disabled {
    @include cursorNotAllowedOverlay();
    border-color: transparent;
    background-color: $color-button-disabled;
  }
}
