<uk-modal-frame
  class="logout-modal"
  [borderRadius]="UK_TYPE.MODAL_FRAME.BORDER_RADIUS.TOP"
  [showHeader]="UK_TYPE.UK.BOOLEAN.TRUE"
  [showTopClose]="true"
  [title]="'خروج از حساب کاربری'"
  (ON_CLOSE)="onClose()"
>
  <div FRAME-BODY>
    <div>
      <uk-text
        [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_HIGH_EMPHASIS"
        [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_1"
      >
        آیا از خروج اطمینان دارید؟
      </uk-text>
    </div>
  </div>
  <div FRAME-ACTIONS>
    <uk-button-group>
      <uk-button
        [cursor]="UK_TYPE.BUTTON.CURSOR.POINTER"
        [display]="UK_TYPE.BUTTON.DISPLAY.BLOCK"
        (click)="onClose()"
      >
        بستن
      </uk-button>
      <uk-button
        [cursor]="UK_TYPE.BUTTON.CURSOR.POINTER"
        [display]="UK_TYPE.BUTTON.DISPLAY.BLOCK"
        (click)="onLogout()"
      >
        خروج
      </uk-button>
    </uk-button-group>
  </div>
</uk-modal-frame>
