<div class="uk uploader">
  <div class="add-button" (click)="input.click()" role="button" tabindex="0">
    <input
      #input
      type="file"
      class="input"
      (input)="onInput(input)"
      [attr.multiple]="multiple"
      [attr.accept]="acceptFormat"
      (blur)="onTouched()"
    />
    <div class="button preview">
      <uk-icon
        [name]="UK_TYPE.ICON.NAME.MATH_PLUS"
        [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_PRIMARY"
      />
      <div>
        <uk-text
          [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_PRIMARY"
          [typography]="UK_TYPE.TEXT.TYPOGRAPHY.CAPTION_STRONG"
        >
          افزودن
        </uk-text>
      </div>
    </div>
  </div>

  <div class="gallery">
    @for (control of uploaderForm.controls.uploader.controls; track $index) {
      <div class="image">
        @if (control.controls.status?.value === STATUS.LOADING) {
          <uk-icon
            class="delete loading"
            [name]="UK_TYPE.ICON.NAME.MATH_CLOSE"
            [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LIGHT"
            (click)="uploaderFormArray.delete($index)"
          />
        } @else {
          <uk-icon
            class="delete"
            [name]="UK_TYPE.ICON.NAME.GENERAL_DELETE"
            [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LIGHT"
            (click)="uploaderFormArray.delete($index)"
          />
        }

        <div
          class="preview"
          [ngClass]="'image-status-' + control.controls.status?.value"
        >
          @if (control.controls.status?.value === STATUS.LOADING) {
            <div class="loading">
              <div class="loader"></div>
            </div>
          } @else {
            @if (preview) {
              @switch (
                getFormatBasedOnExtension(control.controls.file?.value?.name)
              ) {
                @case (UK_TYPE.FILE_UPLOADER.TYPE.IMAGE) {
                  <img [src]="control.controls.url.value" alt="image" />
                }
                @case (UK_TYPE.FILE_UPLOADER.TYPE.SHEET) {
                  <div class="source">
                    <uk-shape-icon
                      [iconName]="shapeIcon"
                      [shapeIconType]="UK_TYPE.SHAPE_ICON.TYPE.CIRCLE"
                      [fgColor]="
                        UK_TYPE.SHAPE_ICON.FG_COLOR.CONTENT_LOW_EMPHASIS
                      "
                      [bgColor]="
                        UK_TYPE.SHAPE_ICON.BG_COLOR.BACKGROUND_SURFACE_01
                      "
                    />
                  </div>
                }
                @case (UK_TYPE.FILE_UPLOADER.TYPE.DOCUMENT) {
                  <div class="source">
                    <uk-shape-icon
                      [iconName]="shapeIcon"
                      [shapeIconType]="UK_TYPE.SHAPE_ICON.TYPE.CIRCLE"
                      [fgColor]="
                        UK_TYPE.SHAPE_ICON.FG_COLOR.CONTENT_LOW_EMPHASIS
                      "
                      [bgColor]="
                        UK_TYPE.SHAPE_ICON.BG_COLOR.BACKGROUND_SURFACE_01
                      "
                    />
                  </div>
                }
                @default {
                  <div class="source">
                    <uk-shape-icon
                      [iconName]="shapeIcon"
                      [shapeIconType]="UK_TYPE.SHAPE_ICON.TYPE.CIRCLE"
                      [fgColor]="
                        UK_TYPE.SHAPE_ICON.FG_COLOR.CONTENT_LOW_EMPHASIS
                      "
                      [bgColor]="
                        UK_TYPE.SHAPE_ICON.BG_COLOR.BACKGROUND_SURFACE_01
                      "
                    />
                  </div>
                }
              }
            } @else {
              <div class="source">
                <uk-shape-icon
                  [iconName]="shapeIcon"
                  [shapeIconType]="UK_TYPE.SHAPE_ICON.TYPE.CIRCLE"
                  [fgColor]="UK_TYPE.SHAPE_ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
                  [bgColor]="UK_TYPE.SHAPE_ICON.BG_COLOR.BACKGROUND_SURFACE_01"
                />
              </div>
            }
          }
        </div>
      </div>
    }
  </div>
</div>
