@use "core" as *;

:host {
}

.uk.desktop-form-controller {
  // height: 100%;

  > .label {
    display: flex;
    gap: 4px;
    margin-bottom: 4px;

    strong {
      display: flex;
      align-items: center;
      color: $color-content-error;
    }
  }

  > .controller-wrapper {
    height: 100%;
  }
}
