@use 'core' as *;

$bgColor: $color-background-surface-00;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.uk.tab-buttons {
  width: 100%;
  height: 100%;

  > .wrapper {
    width: 100%;
    height: 100%;

    > .bg {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: $bgColor;
      position: relative;

      > .buttons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 3;

        > .button {
          width: 100%;
          height: calc(100% - 10px);
          position: relative;
          cursor: pointer;

          .icons {
            position: absolute;
            left: 0;
            top: 15px;
            width: 100%;
            height: 50%;
            transition: all 0.3s ease-in;

            > uk-icon {
              display: block;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: all 0.3s ease-in;

              &:first-child {
                opacity: 1;
              }

              &:last-child {
                opacity: 0;
              }
            }

            &.active {
              > uk-icon {
                &:first-child {
                  opacity: 0;
                }

                &:last-child {
                  opacity: 1;
                }
              }
            }
          }

          uk-text {
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 50%;
            transition: all 0.3s ease-in;
          }

          &.active {
            .icons {
              top: 5px;
            }

            uk-text {
              top: 50%;
            }
          }
        }
      }
    }
  }
}
