<div class="uk tab-buttons">
    <div class="bg">
        <div class="buttons">
            <div
                *ngFor="let button of buttons; index as i; trackBy: trackOptionByFn"
                role="button"
                tabindex="0"
                class="button"
                [ngClass]="{active: button.isActive}"
                (click)="onClick(button, i)"
                (keydown.enter)="onClick(button, i)"
            >
                <div
                    class="icons"
                    [ngClass]="{active: button.isActive}"
                >
                    <uk-icon
                        [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_SECONDARY"
                        [name]="button.icon"
                        [size]="UK_TYPE.ICON.SIZE.LARGE"
                    />
                    <uk-icon
                        [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_SECONDARY"
                        [name]="button.iconFilled"
                        [size]="UK_TYPE.ICON.SIZE.LARGE"
                    />
                </div>
                <uk-text
                    [fgColor]="UK_TYPE.TEXT.FG_COLOR.CONTENT_PRIMARY"
                    [horizontalAlignment]="UK_TYPE.TEXT.HORIZONTAL_ALIGNMENT.CENTER"
                    [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BODY_2_STRONG"
                >
                    {{ button.name }}
                </uk-text>
            </div>
        </div>
    </div>
</div>
