@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.header {
  width: 100%;
  height: 100%;
  background-color: $color-background-surface-01;

  .comp .notification {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  .comp .notification .badge {
    background: #e91e63;
    color: #fff;
    padding: 2px 6px;
    border-radius: 12px;
    font-size: 12px;
  }
  .comp .notification .bell {
    font-size: 18px;
  }
  > header {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 16px;
    justify-content: end;
  }
}
