@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.header {
  width: 100%;
  height: 100%;
  background-color: $color-background-surface-02;
  // border-bottom: 1px solid $color-border-grade-2;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 16px;
  }
}
