@use 'core' as *;

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.comp.header {
    width: 100%;
    height: 100%;
    background-color: $color-background-surface-01;

    > header {
        width: 100%;
        height: 100%;
    }
}
