@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.header {
  width: 100%;
  height: 100%;
  background-color: $color-background-surface-02;
  opacity: 0.6;
  border-bottom: 1px solid $color-border-grade-2;
  // backdrop-filter: blur(12px);
}
