@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.header {
  width: 100%;
  height: 100%;
  background-color: $color-background-surface-00;
  border-radius: 0 0 16px 16px;
}
