<div
  #wrapperElement
  dir="rtl"
  class="uk scroll"
  [ngClass]="[
    'uk-scroll-show-scrollbar-' + showScrollbar,
    'uk-scroll-content-has-sides-margin-' + contentHasSideMargin,
    'uk-scroll-content-has-bottom-margin-' + contentHasBottomMargin,
  ]"
>
  <ng-scrollbar
    [appearance]="appearance === 'auto' ? autoAppearance : appearance"
    [ngStyle]="{ 'max-height.px': maxHeight }"
    [orientation]="orientation"
    [visibility]="visibility"
    (afterUpdate)="afterUpdate()"
    (scroll)="onScroll($event)"
  >
    <div #contentElement class="content">
      <div class="zoon">
        <ng-content />
      </div>
      @if (isLoading) {
        <div class="loading-indicator">
          <div class="animation-wrapper">
            <uk-animation
              [animationScale]="5"
              [autoplay]="UK_TYPE.UK.BOOLEAN.TRUE"
              [autoReset]="UK_TYPE.UK.BOOLEAN.TRUE"
              [loop]="UK_TYPE.UK.BOOLEAN.TRUE"
              [path]="'uk-animations/loading-dots.json'"
            />
          </div>
        </div>
      }
    </div>
  </ng-scrollbar>
</div>
