/* Container to set the dark sky background and establish the animation context */
.uk.star-field {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0d1124;
  background:
    radial-gradient(
      ellipse at 80% 20%,
      rgba(105, 105, 105, 0.08) 0%,
      transparent 70%
    ),
    radial-gradient(
      ellipse at 20% 50%,
      rgba(95, 95, 95, 0.06) 0%,
      transparent 60%
    ),
    radial-gradient(
      ellipse at 50% 90%,
      rgba(27, 27, 27, 0.05) 0%,
      transparent 80%
    ),
    #080808;
  background-size: 200% 200%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .star {
    position: absolute;
    opacity: 0;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation:
      star-flight var(--flight-duration) linear infinite,
      star-twinkle 1.5s ease-in-out infinite alternate;
    box-shadow: 0 0 calc(var(--base-opacity) * 5px) rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background-color: white;
  }
}

@keyframes star-flight {
  0% {
    transform: translateY(120vh) scale(0.6);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(-20vh) scale(0.6);
    opacity: 0;
  }
}

@keyframes star-twinkle {
  0%,
  100% {
    opacity: var(--base-opacity);
  }
  50% {
    opacity: calc(var(--base-opacity) * 0.3);
  }
}

@keyframes nebulae-shift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
