// @font-face {
//     font-family: 'IRANSans';
//     src: url('./../../fonts/iran-sans/iran-sans-web-fa-num.eot'); /* IE9 Compat Modes */
//     src:
//         url('./../../fonts/iran-sans/iran-sans-web-fa-num.eot?#iefix') format('embedded-opentype'),
//         /* IE6-IE8 */ url('./../../fonts/iran-sans/iran-sans-web-fa-num.woff2') format('woff2'),
//         /* Super Modern Browsers */ url('./../../fonts/iran-sans/iran-sans-web-fa-num.woff') format('woff'),
//         /* Pretty Modern Browsers */ url('./../../fonts/iran-sans/iran-sans-web-fa-num.ttf') format('truetype'),
//         /* Safari, Android, iOS */
//             //  url('./../../fonts/iran-sans/iran-sans-web.svg#iran-sans-fa-num-web') format('svg'), /* Legacy iOS */
// ;
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }
