// background
$color-background-surface-00: var(--background-surface-00);
$color-background-surface-01: var(--background-surface-01);
$color-background-surface-02: var(--background-surface-02);
$color-background-primary-01: var(--background-primary-01);
$color-background-primary-02: var(--background-primary-02);
$color-background-secondary: var(--background-secondary);
$color-background-caution: var(--background-caution);
$color-background-error: var(--background-error);
$color-background-progress: var(--background-progress);
$color-background-success: var(--background-success);
$color-background-neutral: var(--background-neutral);
$color-background-scrim-dark: var(--background-scrim-dark);
$color-background-snackbar: var(--background-snackbar);
// opacity
$color-opacity-primary-00: var(--opacity-primary-00);
$color-opacity-primary01: var(--opacity-primary-01);
$color-opacity-primary-02: var(--opacity-primary-02);
$color-opacity-secondary-00: var(--opacity-secondary-00);
$color-opacity-secondary-01: var(--opacity-secondary-01);
$color-opacity-secondary-02: var(--opacity-secondary-02);
$color-opacity-light-00: var(--opacity-light-00);
$color-opacity-light-01: var(--opacity-light-01);
$color-opacity-light-02: var(--opacity-light-02);
$color-opacity-dark-00: var(--opacity-dark-00);
$color-opacity-dark-01: var(--opacity-dark-01);
$color-opacity-dark-02: var(--opacity-dark-02);
$color-opacity-error-00: var(--opacity-error-00);
$color-opacity-error-01: var(--opacity-error-01);
$color-opacity-error-02: var(--opacity-error-02);
// content
$color-content-light: var(--content-light);
$color-content-disabled: var(--content-disabled);
$color-content-low-emphasis: var(--content-low-emphasis);
$color-content-high-emphasis: var(--content-high-emphasis);
$color-content-dark: var(--content-dark);
$color-content-neutral: var(--content-neutral);
$color-content-primary: var(--content-primary);
$color-content-secondary: var(--content-secondary);
$color-content-caution: var(--content-caution);
$color-content-error: var(--content-error);
$color-content-progress: var(--content-progress);
$color-content-success: var(--content-success);
// border
$color-border-grade-0: var(--border-grade-0);
$color-border-grade-1: var(--border-grade-1);
$color-border-grade-2: var(--border-grade-2);
// button
$color-button-primary: var(--button-primary);
$color-button-primary-hover: var(--button-primary-hover);
$color-button-primary-pressed: var(--button-primary-pressed);
$color-button-primary-hover-outline: var(--button-primary-hover-outline);
$color-button-primary-hover-pressed: var(--button-primary-hover-pressed);

$color-button-secondary: var(--button-secondary);
$color-button-secondary-hover: var(--button-secondary-hover);
$color-button-secondary-pressed: var(--button-secondary-pressed);
$color-button-secondary-hover-outline: var(--button-secondary-hover-outline);
$color-button-secondary-pressed-outline: var(--button-secondary-pressed-outline);

$color-button-error: var(--button-error);
$color-button-error-hover: var(--button-error-hover);
$color-button-error-pressed: var(--button-error-pressed);
$color-button-error-outline-hover: var(--button-error-outline-hover);
$color-button-error-outline-pressed: var(--button-error-outline-pressed);

$color-button-outline: var(--button-outline);
$color-button-disabled: var(--button-disabled);
// tag
$color-tag-tag-100: var(--tag-tag-100);
$color-tag-tag-200: var(--tag-tag-200);
$color-tag-tag-300: var(--tag-tag-300);
$color-tag-tag-400: var(--tag-tag-400);
$color-tag-tag-500: var(--tag-tag-500);
$color-tag-tag-600: var(--tag-tag-600);
$color-tag-tag-700: var(--tag-tag-700);
$color-tag-tag-800: var(--tag-tag-800);
$color-tag-tag-850: var(--tag-tag-850);
$color-tag-tag-900: var(--tag-tag-900);
// primaryReference
$color-reference-primary-primary-lightness: var(
  --reference-primary-primary-lightness
);
$color-reference-primary-primary-light: var(--reference-primary-primary-light);
$color-reference-primary-main: var(--reference-primary-main);
$color-reference-primary-dark: var(--reference-primary-dark);
$color-reference-primary-darker: var(--reference-primary-darker);
$color-reference-primary-darkest: var(--reference-primary-darkest);
// referenceSecondary
$color-reference-secondary-primary-lightness: var(
  --reference-secondary-primary-lightness
);
$color-reference-secondary-primary-light: var(
  --reference-secondary-primary-light
);
$color-reference-secondary-main: var(--reference-secondary-main);
$color-reference-secondary-dark: var(--reference-secondary-dark);
$color-reference-secondary-darker: var(--reference-secondary-darker);
$color-reference-secondary-darkest: var(--reference-secondary-darkest);
// referenceNeutral
$color-reference-neutral-neutral-100: var(--reference-neutral-neutral-100);
$color-reference-neutral-neutral-99: var(--reference-neutral-neutral-99);
$color-reference-neutral-neutral-95: var(--reference-neutral-neutral-95);
$color-reference-neutral-neutral-90: var(--reference-neutral-neutral-90);
$color-reference-neutral-neutral-80: var(--reference-neutral-neutral-80);
$color-reference-neutral-neutral-70: var(--reference-neutral-neutral-70);
$color-reference-neutral-neutral-60: var(--reference-neutral-neutral-60);
$color-reference-neutral-neutral-50: var(--reference-neutral-neutral-50);
$color-reference-neutral-neutral-40: var(--reference-neutral-neutral-40);
$color-reference-neutral-neutral-30: var(--reference-neutral-neutral-30);
$color-reference-neutral-neutral-20: var(--reference-neutral-neutral-20);
$color-reference-neutral-neutral-10: var(--reference-neutral-neutral-10);
