@use "core" as *;

.uk.select-date-drop-down {
  box-shadow:
    0 12px 16px -4px rgba(16, 24, 40, 0.08),
    0 4px 6px -2px rgba(16, 24, 40, 0.03);
  border: 1px solid $color-border-grade-1;
  border-radius: 8px;
  background: $color-background-surface-00;
  padding: 6px;

  .day-range {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 4px;
  }

  .day-range.range,
  .day-range.to-date,
  .day-range:hover,
  .day-range.faded,
  .start-date {
    border-radius: 50%;
    background-color: $color-reference-primary-main;
    color: $color-background-surface-00;
  }

  .footer {
    margin-top: 8px;
  }
}
