.uk.desktop-multi-tab-panel {
    &.uk-desktop-multi-tab-panel {
        &-is-active {
            &-true {
                height: 100%;

                > .content {
                    height: 100%;
                }
            }
        }
    }
}
