@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.uk.square-card-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: $color-background-surface-00;
  padding: 16px 24px;
  position: relative;
  border: 1px solid $color-border-grade-1;
  height: 100%;

  > .top {
    margin-bottom: 16px;
  }

  > .center {
    margin-bottom: 6px;
  }

  > .bottom {
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
  }

  &.square-card-desktop {
    &-cursor {
      &-DEFAULT {
        &:after {
          cursor: default !important;
        }
      }
    }
  }
}
