<div class="uk range-slider">
    <div
        class="slider-container"
        [class.disabled]="disabled"
        [class.vertical]="vertical"
    >
        <div
            #track
            role="button"
            tabindex="0"
            class="slider-track"
            [class.vertical]="vertical"
            (click)="onTrackClick($event)"
            (keydown)="onTrackClick($event)"
        >
            <div
                class="slider-fill"
                [style.bottom.%]="vertical ? percentLow : null"
                [style.height.%]="vertical ? percentHigh - percentLow : null"
                [style.left.%]="vertical ? null : percentLow"
                [style.width.%]="vertical ? null : percentHigh - percentLow"
            ></div>

            @for (tick of ticks; track $index) {
                <div
                    class="slider-tick"
                    [style.bottom.%]="getTickPosition(tick).bottom"
                    [style.left.%]="getTickPosition(tick).left"
                ></div>
            }

            <div
                tabindex="0"
                class="slider-thumb"
                [style.bottom.%]="vertical ? percentLow : null"
                [style.left.%]="vertical ? null : percentLow"
                (mousedown)="startDrag('low', $event)"
                (touchstart)="startDrag('low', $event)"
            >
                <div
                    *ngIf="showTooltips"
                    class="slider-tooltip"
                >
                    {{ value }}
                </div>
            </div>

            <div
                *ngIf="!singleThumb"
                tabindex="0"
                class="slider-thumb"
                [style.bottom.%]="vertical ? percentHigh : null"
                [style.left.%]="vertical ? null : percentHigh"
                (mousedown)="startDrag('high', $event)"
                (touchstart)="startDrag('high', $event)"
            >
                <div
                    *ngIf="showTooltips"
                    class="slider-tooltip"
                >
                    {{ highValue }}
                </div>
            </div>
        </div>
    </div>
</div>
