@use "core" as *;

:host {
  @include fullHeightBlock();
}

.comp.main-layout {
  background: $color-background-surface-02;
  width: 100%;
  height: 100%;

  main {
    flex-direction: column;
    height: 100%;
    // position: relative;
  }

  .header {
    height: 100%;
  }

  .nav {
    height: 100%;
  }
}
