@use "core" as *;

:host {
  @include fullHeightBlock();
}

.comp.main-layout {
  width: 100%;
  height: 100%;
  border-left: 1px solid $color-border-grade-2;
  border-right: 1px solid $color-border-grade-2;

  main {
    flex-direction: column;
    height: 100%;
    background-color: $color-background-surface-00;
  }

  .header {
    height: 100%;
    position: sticky;
  }

  .nav {
    height: 100%;
  }
}
