@use "core" as *;

:host {
  @include fullHeightBlock();
}

.comp.main-layout {
  width: 100%;
  height: 100%;

  main {
    flex-direction: column;
    height: 100%;
    background-color: gray;
  }

  .header {
    height: 100%;
  }

  .nav {
    height: 100%;
  }
}
