@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.navbar {
  width: 100%;
  height: 100%;
  background-color: $color-background-surface-02;
  border-top: 1px solid $color-border-grade-2;
  opacity: 0.6;
  // backdrop-filter: blur(12px);

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    flex-direction: row;

    a {
      text-decoration: none;

      &.nav-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
