@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.comp.navbar {
  width: 100%;
  height: 100%;
  border-radius: 16px 16px 0 0;
  background-color: $color-background-surface-00;

  > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    flex-direction: row;

    a {
      text-decoration: none;

      &.nav-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
