<div class="comp navbar">
  <nav>
    <a
      class="nav-item"
      [routerLink]="APP_ROUTES.PROFILE.ROOT"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <uk-icon [name]="UK_TYPE.ICON.NAME.USER_CIRCLE" />
    </a>
    <a
      class="nav-item"
      [routerLink]="APP_ROUTES.POST.ROOT"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <uk-icon [name]="UK_TYPE.ICON.NAME.PLUS" [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LIGHT" />
    </a>
    <a
      class="nav-item"
      [routerLink]="APP_ROUTES.SEARCH.ROOT"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <uk-icon [name]="UK_TYPE.ICON.NAME.SEARCH" />
    </a>
    <a
      class="nav-item"
      [routerLink]="APP_ROUTES.HOME.ROOT"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <uk-icon [name]="UK_TYPE.ICON.NAME.HOME" />
    </a>
    <a
      class="nav-item"
      [routerLink]="APP_ROUTES.NOTIFICATION.ROOT"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <uk-icon [name]="UK_TYPE.ICON.NAME.BELL" />
      <uk-badge *ngIf="(unreadCount$ | async) as c; else noBadge" [size]="UK_TYPE.BADGE.SIZE.SMALL" [badgeType]="UK_TYPE.BADGE.TYPE.ERROR">{{ c }}</uk-badge>
      <ng-template #noBadge />
    </a>
  </nav>
</div>
