@use 'core' as *;

:host {
  width: 100%;
  display: block;
}

.uk.stepper {
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 48px;

    .step {
      display: flex;
      position: relative;
      flex: 1 1 auto;
      align-items: center;
      gap: 8px;

      > .content {
        display: flex;
        gap: 4px;
      }

      > .connector {
        background-color: $color-reference-primary-main;
        width: 100%;
        min-width: 24px;
        height: 2px;
      }

      &:last-child {
        flex: initial;

        > .connector {
          display: none;
        }
      }
    }
  }
}
