@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.uk.text-area {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid $color-border-grade-2;
  background-color: $color-background-surface-02;
  overflow: hidden;

  textarea {
    display: block;
    outline: none;
    border: none;
    padding: 8px;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: $color-background-surface-02;
    color: $color-content-high-emphasis;
    overflow: hidden;

    &::placeholder {
      opacity: 0.5;
      color: $color-content-high-emphasis;
    }
  }

  &.uk-text-area {
    &-border-color {
      &-TRANSPARENT {
        border-color: transparent;
      }
      &-SECONDARY-700 {
        border-color: $color-content-secondary;
      }
      &-ERROR-500 {
        border-color: $color-content-error;
      }
      &-REFERENCE-PRIMARY-MAIN {
      }
      &-CONTENT-ERROR {
      }
    }

    &-typography {
      &-BODY-1-STRONG {
        @include typography-body-1-strong();
      }
      &-BODY-2-STRONG {
        @include typography-body-2-strong();
      }
    }

    &-fg-color {
      &-CONTENT-HIGH-EMPHASIS {
        // color: $color-content-high-emphasis;
      }
    }

    &-disabled {
      &-TRUE {
        background-color: $color-content-secondary;
      }
      &-FALSE {
      }
    }
  }
}
