@use "core" as *;

:host {
  display: block;
  height: 58px;
  width: 100%;
}

.uk.search-bar {
  width: 100%;
  height: 100%;

  .input-box {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid $color-border-grade-2;
    background-color: $color-background-surface-02;
    border-radius: 8px;
    display: flex;
    padding: 0 16px;
    gap: 8px;

    .input {
      @include typography-body-1-strong;
      border: none;
      background-color: inherit;
      border-radius: inherit;
      color: $color-content-high-emphasis;
      width: 100%;
      height: 100%;
      outline: none;
    }

    .icon {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
