@use "core" as *;

:host {
  display: block;
  height: 58px;
  width: 100%;
}

.uk.search-bar {
  width: 100%;
  height: 100%;

  .input {
    border-radius: 16px;
    border: 1px solid $color-border-grade-2;
    background-color: $color-background-surface-02;
    color: $color-content-high-emphasis;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    padding: 0 8px;
  }
}
