<div
  class="uk breadcrumb"
  [ngClass]="['uk-breadcrumb-cursor-' + cursor]"
>
  <div class="wrapper">
    <ng-container
      *ngFor="let breadcrumbItem of breadcrumbItems; trackBy: trackByFn; let last = last">
      <div
        routerLinkActive="router-link-active"
        class="link"
        [routerLink]="last ? null : breadcrumbItem.link"
      >
        @if (breadcrumbItem.iconName) {
          <uk-icon
            [fgColor]="
                            last ? UK_TYPE.ICON.FG_COLOR.CONTENT_PRIMARY : UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS
                        "
            [name]="breadcrumbItem.iconName"
            [size]="UK_TYPE.ICON.SIZE.LARGEST"
          />
        } @else {
          <uk-text
            [fgColor]="
                            last ? UK_TYPE.TEXT.FG_COLOR.CONTENT_PRIMARY : UK_TYPE.TEXT.FG_COLOR.CONTENT_LOW_EMPHASIS
                        "
            [typography]="UK_TYPE.TEXT.TYPOGRAPHY.BUTTON_2"
          >
            {{ breadcrumbItem.title }}
          </uk-text>
        }
      </div>
      <div class="left-icon">
        <uk-icon
          [fgColor]="UK_TYPE.ICON.FG_COLOR.CONTENT_LOW_EMPHASIS"
          [name]="UK_TYPE.ICON.NAME.CHEVRON_LEFT"
        />
      </div>
    </ng-container>
  </div>
</div>
