@use 'core' as *;

$linkOnHoverBackgroundColor: $color-content-high-emphasis;

:host {
    display: block;
    width: 100%;
}

.uk.breadcrumb {
    width: 100%;

    > .wrapper {
        display: flex;
        align-items: center;
        gap: 12px;

        > .link {
            display: flex;
            align-items: center;
        }

        .left-icon {
            &:last-child {
                uk-icon {
                    display: none;
                }
            }
        }
    }

    &.uk-breadcrumb {
        &-cursor {
            &-POINTER {
                > .wrapper {
                    > .link {
                        position: relative;

                        &::after {
                            position: absolute;
                            top: 0;
                            left: 0;
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            content: '';
                        }
                    }
                }
            }
        }
    }
}
