@use '@angular/cdk/overlay-prebuilt.css' as *;
@use 'core' as *;

.cdk-overlay-container {
    > .cdk-overlay-backdrop {
        &.dark-glass {
            @include darkOverlayBgBlur;
            opacity: 1;
        }

        &.fixed-back {
            pointer-events: none !important;
        }
    }
}

// Overlay backdrop styling
.overlay-backdrop {
    &.dark {
        @include darkOverlayBgBlur;
    }
}

// Overlay panel styling
.overlay-panel {
    display: flex;
    flex-direction: column;
}

.cdk-overlay-pane.confirm-wrapper {
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .confirm-dialog {
        background-color: #202022;
        width: 450px;
        color: #b3b3b3;

        .confirm-header {
            display: flex;
            align-items: center;
            background-color: #29292b;
            padding: 5px 15px;
            height: 50px;
            font-size: 14px;
        }

        .confirm-body {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            min-height: 80px;

            p {
                font-size: 12px;
            }
        }

        .confirm-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #29292b;
            padding: 5px 15px;
            height: 70px;

            .actions {
                display: flex;
                align-items: center;
                gap: 8px;
                width: 100%;

                button {
                    border: none;
                    border-radius: 16px;
                    background-color: transparent;
                    border: solid 1px #ef4037;
                    width: 100%;
                    height: 48px;
                    color: #ededf0;
                    cursor: pointer;

                    &.active {
                        background-color: #ef4037;
                        color: #ededf0;
                    }
                }
            }
        }
    }
}
