@forward './angular-cdk.scss';
@forward './primeng.scss';
@forward './otp-input.scss';
@forward './ng-select.scss';
@forward './ngx-toastr.scss';
@forward './ngx-gallery.scss';
@forward './ngb-date-picker.scss';
