uk-gallery {
    display: block;
    width: 100%;
    height: 100%;

    gallery {
        display: block;
        width: 100%;
        height: 100%;

        gallery-item {
            gallery-image {
                img {
                    object-fit: cover !important;
                }
            }
        }
    }
}
