@use "ngx-toastr/toastr" as *;
@use "core" as *;

$toast-icon-size: 20px;
$toast-title-gap: 12px;

.toast-container {
  width: 100%;

  .ngx-toastr {
    box-shadow: none !important;
    border-radius: 16px !important;
    padding: 16px 20px;
    line-height: initial !important;
    max-width: 350px;
    width: 100% !important;

    .toast-title {
      @include typography-subtitle-strong();
      display: flex;
      align-items: center;
      gap: $toast-title-gap;
      color: $color-content-high-emphasis !important;
    }

    .toast-message {
      @include typography-subtitle();
      display: flex;
      align-items: center;
      padding-right: $toast-title-gap + $toast-icon-size;
      color: $color-content-high-emphasis !important;
    }

    &.uk-success-toast {
      color: $color-content-success !important;
      background: linear-gradient(
        125deg,
        $color-background-success,
        $color-background-surface-01
      ) !important;
    }

    &.uk-error-toast {
      background: linear-gradient(
        125deg,
        $color-background-error,
        $color-background-surface-01
      ) !important;
      color: $color-content-error !important;
    }

    &.uk-info-toast {
      color: $color-content-caution !important;
      background: linear-gradient(
        125deg,
        $color-background-caution,
        $color-background-surface-01
      ) !important;
    }
  }

  .toast-success {
    background-image: none !important;

    .toast-title {
      &::before {
        content: "\e924";
        color: $color-content-high-emphasis !important;
        font-size: $toast-icon-size;
        font-family: "app-icon";
        font-weight: normal !important;
      }
    }
  }
  .toast-error {
    background-image: none !important;

    .toast-title {
      &::before {
        content: "\e920";
        color: $color-content-high-emphasis !important;
        font-size: $toast-icon-size;
        font-family: "app-icon";
        font-weight: normal !important;
      }
    }
  }
  .toast-info {
    background-image: none !important;

    .toast-title {
      &::before {
        content: "\e925";
        color: $color-content-high-emphasis !important;
        font-size: $toast-icon-size;
        font-family: "app-icon";
        font-weight: normal !important;
      }
    }
  }
}
