@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.profile-info {
  width: 100%;

  .avatar {
    display: flex;
    justify-content: center;
  }
  .username {
    display: flex;
    justify-content: center;
  }

  .user {
    width: 100%;

    .follow {
      display: flex;
    }
  }
}
