@use "core" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.profile-info {
  width: 100%;

  .avatar {
    display: flex;
    justify-content: center;
    margin: 16px;
  }
  .username {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
  .actions {
    margin-bottom: 8px;
  }
  .follow {
    margin-bottom: 8px;
  }
  .major {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .bio {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 16px;
  }
}
